<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>連絡先登録</title>
</head>
<body>

<th:block th:fragment="dialogInputCompanyError">
	<div id="inputCompanyError" title="会社情報入力エラー" class="hidden">
		<div class="error companyNameError hidden"></div>
		<div class="error companyAddressError hidden"></div>
		<div class="error corporationError hidden"></div>
		<div class="error companyNumberError hidden"></div>
		<div class="error staffName1Error hidden"></div>
		<div class="error staffMail1Error hidden"></div>
		<div class="error staffNumber1Error hidden"></div>
		<div class="error staffName2Error hidden"></div>
		<div class="error staffMail2Error hidden"></div>
		<div class="error staffNumber2Error hidden"></div>
		
	</div>
</th:block>


</body>
</html>