<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>連絡先登録</title>
</head>
<body>

//大文字のCはConfirm(確認ダイアログだけのクラス)の意

<th:block th:fragment="dialogInputCompanyConfirm">

	<div id="inputCompanyConfirm" title="入力内容確認" class="hidden">
	<h3 class="CCinfo">入力情報</h3>
		<table class="user confirm">
			<tr>
				<td>
					<span class="CCname">座標 ：</span>
					<span class="companyName"></span>
				</td>
			</tr>
			<tr>
				<td>
					<span class="CCaddress"> 何号室：</span>
					<span class="companyAddress"></span>
				</td>
				<td>
			</tr>
			<tr>
				<td>
					<span class="CCnumber">内容 ：</span>
					<span class="companyNumber"></span>
				</td>
			</tr>
		</table>
	<h3 class="CSinfo">担当者情報</h3>
		<table class="user confirm">
			<tr>
				<td class="CS1">
					<div class="CSname">期間1</div>
					<span class="staffName1"></span><br />
					<span class="staffName2"></span><br />
					<span class="staffName3"></span><br />
					<span class="staffName4"></span><br />
					<span class="staffName5"></span><br />
					<span class="staffName6"></span><br />
					<span class="staffName7"></span><br />
					<span class="staffName8"></span><br />
					<span class="staffName9"></span><br />
					<span class="staffName10"></span>
				</td>
				<td class="CS2">
					<div class="CSmail">期間2</div>
					<span class="staffMail1"></span><br />
					<span class="staffMail2"></span><br />
					<span class="staffMail3"></span><br />
					<span class="staffMail4"></span><br />
					<span class="staffMail5"></span><br />
					<span class="staffMail6"></span><br />
					<span class="staffMail7"></span><br />
					<span class="staffMail8"></span><br />
					<span class="staffMail9"></span><br />
					<span class="staffMail10"></span>
				</td>
				<td class="CS3">
					<div class="CSnumber">時間帯</div>
					<span class="staffNumber1"></span><br />
					<span class="staffNumber2"></span><br />
					<span class="staffNumber3"></span><br />
					<span class="staffNumber4"></span><br />
					<span class="staffNumber5"></span><br />
					<span class="staffNumber6"></span><br />
					<span class="staffNumber7"></span><br />
					<span class="staffNumber8"></span><br />
					<span class="staffNumber9"></span><br />
					<span class="staffNumber10"></span>
				</td>
			</tr>
		</table>
	</div>
</th:block>
</body>
</html>