<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>新規メール作成</title>
</head>
<body>

<th:block th:fragment="dialogCreateMailConfirm">
	<div id="createMailConfirm" title="入力内容確認" class="hidden">
		<table class="mail confirm">
			<tr>
				<th>件名</th>
				<td>
					<span class="messageSubject"></span>
				</td>
			</tr>
			<tr>
				<th>本文</th>
				<td>
					<span class="messageText"></span>
				</td>
			</tr>
		</table>
	</div>
</th:block>
</body>
</html>