<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>新規ユーザー登録</title>
</head>
<body>

<th:block th:fragment="dialogInputUserConfirm">
	<div id="inputUserConfirm" title="入力内容確認" class="hidden">
		<table class="user confirm">
			<tr>
				<th>ユーザー名<br /><span class="note">（メールアドレス）</span></th>
				<td>
					<span class="userName"></span>
				</td>
			</tr>
			<tr> class=""
				<th>クライアントID</th>
				<td>
					<span class="clientId"></span>
				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<span class="password"></span>
				</td>
			</tr>
		</table>
	</div>
</th:block>
</main>
</body>
</html>