<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8" />
<title>マイページ - Getty Shoes Shop</title>
</head>
<body>
<th:block th:fragment="dialogElectronicSignature">
	<div id="electronicSignature" title="電子署名　設定" class="hidden">
		<table class="resetPassword confirm">
			<tr>
				<th class="reset">ユーザー名　</th>
				<td>
					<span th:text="${loginSession.getUserName()}"></span>
				</td>
			</tr>
			<tr>
				<th>電子署名</th>
				<td>
					<textarea name="newPassword" placeholder="" maxlength="255" 
					style="width:350px;height:200px;" 
					th:text="${user.signature}"/></textarea>
				</td>
			</tr>
		</table>
		<span class="note info">電子署名の設定を変更します。</span>
	</div>
</th:block>


</body>
</html>