<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>連絡先登録</title>
</head>
<body>

<th:block th:fragment="dialogInputCompanyError">
	<div id="inputCompanyError" title="会社情報入力エラー" class="hidden">
		<div class="error companyNameError hidden"></div>
		<div class="error companyAddressError hidden"></div>
		<div class="error corporationError hidden"></div>
		<div class="error companyNumberError hidden"></div>
		<div class="error staffName1Error hidden"></div>
		<div class="error staffMail1Error hidden"></div>
		<div class="error staffNumber1Error hidden"></div>
		<div class="error staffName2Error hidden"></div>
		<div class="error staffMail2Error hidden"></div>
		<div class="error staffNumber2Error hidden"></div>
		<div class="error staffName3Error hidden"></div>
		<div class="error staffMail3Error hidden"></div>
		<div class="error staffNumber3Error hidden"></div>
		<div class="error staffName4Error hidden"></div>
		<div class="error staffMail4Error hidden"></div>
		<div class="error staffNumber4Error hidden"></div>
		<div class="error staffName5Error hidden"></div>
		<div class="error staffMail5Error hidden"></div>
		<div class="error staffNumber5Error hidden"></div>
		<div class="error staffName6Error hidden"></div>
		<div class="error staffMail6Error hidden"></div>
		<div class="error staffNumber6Error hidden"></div>
		<div class="error staffName7Error hidden"></div>
		<div class="error staffMail7Error hidden"></div>
		<div class="error staffNumber7Error hidden"></div>
		<div class="error staffName8Error hidden"></div>
		<div class="error staffMail8Error hidden"></div>
		<div class="error staffNumber8Error hidden"></div>
		<div class="error staffName9Error hidden"></div>
		<div class="error staffMail9Error hidden"></div>
		<div class="error staffNumber9Error hidden"></div>
		<div class="error staffName10Error hidden"></div>
		<div class="error staffMail10Error hidden"></div>
		<div class="error staffNumber10Error hidden"></div>
	</div>
</th:block>


</body>
</html>