<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>連絡先登録</title>
</head>
<body>

<th:block th:fragment="dialogInputCompanyConfirm">
	<div id="inputCompanyConfirm" title="入力内容確認" class="hidden">
		<table class="company confirm">
			<tr>
				<th>会社名</th>
				<td>
					<span class="companyName"></span>
				</td>
			</tr>
			<tr>
				<th>所在地</th>
				<td>
					<span class="companyAddress"></span>
				</td>
			</tr>
			<tr>
				<th>法人呼称</th>
				<td>
					<span class="corporation"></span>
				</td>
			</tr>
			<tr>
				<th>電話番号(会社)</th>
				<td>
					<span class="companyNumber"></span>
				</td>
			</tr>
			<tr>
				<th>担当者名</th>
				<td>
					<span class="staffName1"></span>
					<span class="staffName2"></span>
					<span class="staffName3"></span>
					<span class="staffName4"></span>
					<span class="staffName5"></span>
					<span class="staffName6"></span>
					<span class="staffName7"></span>
					<span class="staffName8"></span>
					<span class="staffName9"></span>
					<span class="staffName10"></span>
				</td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td>
					<span class="staffMail1"></span>
					<span class="staffMail2"></span>
					<span class="staffMail3"></span>
					<span class="staffMail4"></span>
					<span class="staffMail5"></span>
					<span class="staffMail6"></span>
					<span class="staffMail7"></span>
					<span class="staffMail8"></span>
					<span class="staffMail9"></span>
					<span class="staffMail10"></span>
				</td>
			</tr>
			<tr>
				<th>電話番号(担当者)</th>
				<td>
					<span class="staffNumber1"></span>
					<span class="staffNumber2"></span>
					<span class="staffNumber3"></span>
					<span class="staffNumber4"></span>
					<span class="staffNumber5"></span>
					<span class="staffNumber6"></span>
					<span class="staffNumber7"></span>
					<span class="staffNumber8"></span>
					<span class="staffNumber9"></span>
					<span class="staffNumber10"></span>
				</td>
			</tr>
		</table>
	</div>
</th:block>
</body>
</html>