<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>連絡先登録</title>
</head>
<body>

<th:block th:fragment="dialogInputCompanyConfirm">
	<div id="inputCompanyConfirm" title="入力内容確認" class="hidden">
		<table class="company confirm">
			<tr>
				<th>会社名</th>
				<td>
					<span class="companyName"></span>
				</td>
			</tr>
			<tr>
				<th>所在地</th>
				<td>
					<span class="companyAddress"></span>
				</td>
			</tr>
			<tr>
				<th>法人呼称</th>
				<td>
					<span class="corporation"></span>
				</td>
			</tr>
			<tr>
				<th>電話番号(会社)</th>
				<td>
					<span class="companyNumber"></span>
				</td>
			</tr>
			<tr>
				<th>担当者名1</th>
				<td>
					<span class="staffName1"></span>
				
				</td>
			</tr>
			<tr>
				<th>メールアドレス1</th>
				<td>
					<span class="staffMail1"></span>
				</td>
			</tr>
			<tr>
				<th>電話番号(担当者)1</th>
				<td>
					<span class="staffNumber1"></span>
				</td>
			</tr>
			<tr>
				<th>担当者名2</th>
				<td>
					<span class="staffName2"></span>
				
				</td>
			</tr>
			<tr>
				<th>メールアドレス2</th>
				<td>
					<span class="staffMail2"></span>
				</td>
			</tr>
			<tr>
				<th>電話番号(担当者)2</th>
				<td>
					<span class="staffNumber2"></span>
				</td>
			</tr>
		</table>
	</div>
</th:block>
</body>
</html>