<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>共通ヘッダー</title>
	<link href="../page_header.css" th:href="@{../page_header.css}" rel="stylesheet" />
</head>

<body>

<th:block th:fragment="commonHeader">
	<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet"
			href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="/js/util/stringUtil.js" th:src="@{/js/util/stringUtil.js}"></script>
	<script src="/js/util/validator.js" th:src="@{/js/util/validator.js}"></script>
	<script src="/js/dialogConfig.js" th:src="@{/js/dialogConfig.js}"></script>
	
<script th:inline="javascript">
/*<![CDATA[*/
	$(() => {
		$('#loginError').dialog(dialogConfig.loginError);
		
		$('button#logout').on('click', () => {
			$.ajax({
				type: 'POST',
				url: '/mailsystem/auth/logout',
				datatype: 'json',
				scriptCharset: 'utf-8'
			})
			.then((result) => {
				$('#hiddenUserName').val('');
				logout();
				alert('ログアウトしました。');
				location.replace('/mailsystem/login/');
			}, () => {
				alert('Error: ajax connection failed.');
			});
		});
		
	});
	
	function logout() {
		$('.welcomeMsg').text(`ようこそ！ ゲスト さん`);
		if (isEmpty($('button#logout').prop('class'))) {
			$('button#logout').addClass('hidden');
			$('button#login').removeClass('hidden');
		}
		if (isEmpty($('#mypageMenu').prop('class'))) {
			$('#mypageMenu').addClass('hidden');
		}
		
		$('div.loginArea input[name=userName]').val('');
		$('div.loginArea input[name=password]').val('');
	}
	
	function koshin(){
		location.reload();
	}
/*]]>*/
</script>

	<span class="headerTop">
		<a href="/mailsystem/home/"><img src="/img/h_logo.png"></a>
	</span>
	
	<span style="position: relative; left: 300px; font-weight: bold;font-size: 25px;">
		<script>
			let getPageTitle = document.title;
			document.write(document.title);
		</script>
	</span>
		
	<span class="logout">
		<button style="position: relative;left: 700px;" id="logout">ログアウト</button>
	</span>
	<hr>
	
</th:block>

</body>
</html>