@charset "UTF-8";

/*画面を固定*/
body{
	overflow-y: hidden;
}

html, body{
	overflow: hidden;
}


/*画面を両分割*/
.all {
	display: table;
	width: 100%;
}

.all_item {
	display: table-cell;
	padding: 10px;
	width: 50%;
}

.item_left {
	position: relative;
	width: 600px;
}

.left .right {
	height: 8000px;
}


/*ナンバーを非表示にする*/
.hidden {
	display: none;
}


/*-----------以下画面詳細-----------*/


/*アドレス一覧表示_right*/
/*外枠*/
.right {
	width: out;
	height: 500px;
	border-style: solid;
	border-width: 2px;
	border-color: #dcdcdc;
	padding: 0px;
	font-size: 16px;
	position:relative;
	top: -7px;	
}


.select_release {
	width: 100px;
	height: 30px;
	background-color: #ff8e8e;
}



/*内容入力表示_left*/
.message {
	width: 620px;
	height: 320px;
	border-style: solid;
	border-width: 2px;
	border-color: #dcdcdc;
	padding: 0px;
	position:relative;
	top: -15px;
}


/*内容入力欄_詳細*/
/*件名入力欄*/
.message_subject .text_subject {
	width: 590px;
	height: 30px;
	position:relative;
	left: 12px;
	top: 5px;
	border-style: none;
	border-bottom: 1px solid;
	border-color: #dcdcdc;
}


/*本文入力欄*/
.message_text .text_text {
	width: 590px;
	height: 200px;
	position:relative;
	left: 12px;
	top: -6px;
	border-style: none;
}



/*ボタンデザイン、位置*/
.select_page, .send_confirm {
	width: 100px;
	height: 30px;
	margin-left: 30px;
}

.select_page {
	background-color: #8eff8e;
	margin-left: 75px;
}

.send_confirm {
	background-color: #8ec6ff;
}

.menubar_files {
	margin-left: 20px;
}



/*電子署名表示欄*/
/*電子署名_div*/
.signature {
	width: 620px;
	height: 168px;
	border-style: solid;
	border-width: 2px;
	border-color: #dcdcdc;
	padding: 0px;
	position:relative;
	top: -8px;
}


/*電子署名_タイトルバー*/
.signature_title {
	text-align: center;
	color: #ffffff;
	border-style: solid;
	border-width: 2px;
	border-color: #dcdcdc;
	background-color: #696969;
	padding: 0px;
	width: 595px;
	height: 30px;
	margin-left: 10px;
	margin-top: 10px;
	display:block;
	line-height: 2;
}


/*電子署名_テキスト表示*/
.signature_text {
	width: 590px;
	height: 100px;
	position:relative;
	left: 12px;
	position:relative;
	top: -7px;
	border-style: none;
}



/*リストグループ*/
/*連絡先リスト*/
.title_item {
	margin-right: none;
	overflow: hidden;
	width: out;
}


.title {
	text-align: center;
	color: #ffffff;
	border-style: solid;
	border-width: 2px;
	border-color: #dcdcdc;
	background-color: #696969;
	padding: 0px;
	width: 500px;
	height: 30px;
	margin: 10px;
	margin-right: none;
	display: inline-block;
	line-height: 2;
}


/*選択解除*/
.select_release {
	display: inline-block;
	position:relative;
	top: -2px;
}


/*アドレスリスト*/
.address_rist {
	margin-left: 10px;
}



