@charset "UTF-8";

/*画面固定*/
body{
	overflow-y: hidden;
}

html, body{
	overflow: hidden;
}

/*画面分割*/
.mail{
	display: table;
	width: 100%;
}

.mail-item{
	display: table-cell;
	padding: 10px;
	width: 50%;
}

.mail-left{
	position: relative;
}

.mail-left_brock{
	height: 8000px;
}

.mail-right_brock{
	height: 8000px;
	/*overflow: scroll;*/
}


/*メール作成*/
/*入力欄*/

/*件名フォーム*/
input[name="messageSubject"] {
	width: 500px;
	height: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: #dcdcdc;
	padding: 0px;
	font-size: 13px;
}

/*本文フォーム*/
textarea[name="messageText"] {
	width: 500px;
	height: 400px;
	border-style: none;
	border-style: solid;
	border-width: 2px;
	border-color: #dcdcdc;
	padding: 0px;
	font-size: 13px;
}

/*入力フォームの位置*/
.message_subject {
	position: relative;
	left: 100px;
	top: 0px;
	width: 500px;
}

.message_text {
	position: relative;
	left: 100px;
	width: 500px;
	top: -24px;
}

/*メニューバー*/
/*横並び*/
.menubar {
	position: relative;
	
}

.menubar_attachment {
	display: inline;
}

.menubar_cancel {
	display: inline;
}

.menubar_llnextscreen {
	display: inline;
}

/*メニューバーを入れているボックス*/
.menubar {
	padding: 10px;
	width: 700px;
}


/*ボタン*/
/*添付ファイルボタン*/
.menubar_files {
	margin-right: 5px;
}

/*キャンセルボタン*/
.menubar_cancel {
	width: 100px;
	height: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #808080;
	margin-right: 40px;
	margin-left: 90px;
}

/*連絡先選択ボタン*/
.menubar_address-select {
	width: 100px;
	height: 30px;
	background-color: #1e90ff;
	color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #808080;
}


/*送信先リスト*/
/*送信先ヘッダー*/
.select_bar {
	width: 590px;
	height: 50px;
	border-style: none;
	border-style: solid;
	border-width: 2px;
	border-color: #dcdcdc;
	background-color: #696969;
	padding: 0px;
}

/*バータイトル*/
.title {
	color: #ffffff;
	position: senter;
	text-align: center;
}

/*送信先表示エリア*/
.select_address {
	width: 590px;
	height: 400px;
	border-style: none;
	border-style: solid;
	border-width: 2px;
	border-color: #dcdcdc;
	overflow: scroll;
}

/*送信先選択ダイアログ*/
.form {
	text-align: center;
	margin-top: 30px;
}

.kensaku {
	border-radius: 3px;
}

input[id="search-text"] {
	width: 400px;
	height: 30px;
	padding-left: 10px;
}

.company {
	color: red;
}

table {
	text-align: left;
	vertical-align: middle;
	display: inline-block;
	background-color: #80ff80;
	margin-bottom: 5px;
	margin-left: 7px;
	border-radius: 6px;
	position: relative;
}

.target-area .hidden {
	display: none
}

.hidden {
	display: none;
}
