@charset "UTF-8";

main {
	text-align: center;
}

.title {
	margin: 0 auto;
	width: 350px;
	height: 60px;
	padding-top: 40px;
	margin-top: 70px;
	color: white;
	background: black;
}

.container {
	margin: 0 auto;
	width: 350px;
	height: 350px;
	margin-bottom: 50px;
	background: #dfdfdf;
}

.koumokuMail {
	padding-top: 50px;
	margin-right: 90px;
	font-weight: bold;
	font-size: 15px;
}

.koumokuPass {
	margin-right: 215px;
	font-weight: bold;
	font-size: 15px;
}

.form {
	width: 280px;
	height: 25px;
	margin-left: 0px;
	margin-bottom: 5px;
	border-radius: 3px;
	border: 2px solid;
	border-color: blue;
}

button[id="checkUserName"] {
	width: 80px;
	height: 25px;
	margin-left: 230px;
	color: white;
	background-color: #0080ff;
}

button[id="confirm"] {
	width: 150px;
	height: 40px;
	color: white;
	margin-top: 30px;
	background-color: #0080ff;
}

.hidden {
	display: none;
}
