@charset "UTF-8";

main {
	text-align: center;
}

.logo {
	margin-top: 50px;
	margin-bottom: 15px;
}

.title {
	margin-bottom: 5px;
}

table {
	display: inline;
}

.koumokuName {
	margin-top: 0;
	margin-bottom: 5px;
	margin-right: 330px;
	font-weight: bold;
}

.koumokuMail {
	margin-top: 30px;
	margin-bottom: 5px;
	margin-right: 185px;
	font-weight: bold;
}

.koumokuPass {
	margin-top: 30px;
	margin-bottom: 5px;
	margin-right: 310px;
	font-weight: bold;
}

.form {
	text-align: center;
	height: 20px;
	margin-bottom: 5px;
	border-radius: 3px;
	border: 2px solid;
}

input[name="familyName"],input[name="firstName"] {
	width: 143px;
}

input[name="userName"], input[name="password"] {
	width: 300px;
}

input[name="userName"] {
	margin-left: 100px;
}

button {
	background-color: #a5ff4a;
	border-radius: 3px;
	border: 1px solid;
}

button[id="confirm"] {
	width: 70px;
	margin: 20px;
}

.hidden {
	display: none;
}
