@charset "UTF-8";

html {
 overflow-y: scroll;
}

.form {
	text-align: center;
	margin-top: 30px;
	margin-left: 80px;
}

.kensaku {
	border-radius: 3px;
}

input[id="search-text"] {
	width: 400px;
	height: 30px;
	padding-left: 10px;
}

.back {
	width: 70px;
	height: 30px;
}

table {
	text-align: left;
	width: 178px;
	height: 50px;
	vertical-align: middle;
	display: inline-block;
	background-color: #80ff80;
	margin-bottom: 5px;
	margin-left: 7px;
	border-radius: 6px;
	position: relative;
}

td[class="inner"] {
	margin-left: 10px;
	position: absolute;
	top: 50%;
	-webkit-transform : translateY(-50%);
	transform : translateY(-50%);
}

.hidden {
	display: none;
}

input[name="hidden"] {
	display: none;
}