@charset "UTF-8";

main {
	text-align: center;
}

.all_select {
	
}

.back_mail {
	margin-left: 600px;
	margin-top: 10px;
	background-color: rgb(128, 255, 128);
}

.back_company {
	margin-left: 30px;
}

h1 {
	display: inline-block;
	margin-top: 10px;
}

table {
	display: inline-block;
	margin-right: 45px;
	border: 1px solid black;
}

td {
	height: 30px;
	border: 1px solid black;
}

.staff_select{
	font-weight: bold;
	color: white;
	background-color: gray;
	padding-top: 10px;
	width: 45px;
	height: 30px;
}

.staff_name, .staff_mail, .staff_number {
	font-weight: bold;
	color: white;
	background-color: gray;
	padding-top: 10px;
	width: 280px;
	height: 30px;
}

.form {
	display: none;
}

.hidden {
	display: none;
}