@charset "UTF-8";

html, body{
	overflow: hidden;
}

.left {
	float: left;
	margin-left: 100px;
}

.right {
	float: right;
	margin-right: 100px;
}

textarea {
	width: 500px;
	height: 400px;
}

.hidden {
	display: none;
}
