@charset "UTF-8";

.left {
	float: left;
	margin-top: 15px;
	margin-left: 100px;
}

.right {
	float: right;
	margin-right: 400px;
}

input{
	width: 500px;
}

textarea[id="text"] {
	width: 500px;
	height: 250px;
}

textarea[id="signature"] {
	width: 500px;
	height: 100px;
}

.hidden {
	display: none;
}
