<!doctype HTML>
<html xmlns:th="http://www.thymelef.org">

<head>
	<meta charset="UTF-8">
	<title>連絡先一覧画面</title>
	<link href="/css/address_list.css" th:href="@{/css/address_list.css}" rel="stylesheet" />
</head>

<body>

	<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet"
			href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="/js/util/stringUtil.js" th:src="@{/js/util/stringUtil.js}"></script>
	<script src="/js/util/validator.js" th:src="@{/js/util/validator.js}"></script>
	<script src="/js/dialogConfig.js" th:src="@{/js/dialogConfig.js}"></script>

<main>

	<form name="searchForm" action="/mailsystem/search">
		<input type="text" name="keywords"	th:value="${keywords}"/>
		<button type="submit">検索</button>
	</form>
	
	<button id="deleteButton">連絡先削除</button>
	<button onclick="location.href='http://localhost:8080/mailsystem/home/'" class="modoru">ホームへ戻る</button>
	<button onclick="location.href='http://localhost:8080/mailsystem/edit/'" class="">連絡先編集画面へ</button>
	
	<table>
		<tr th:each="address : ${address}">
			<td><input type="checkbox" name="id"  class="checkList"  th:text="${address.companyName}" th:value="${address.id}" /></td>
		</tr>
	</table>
	
<!-- Modal Dialog (削除確認) -->
<div th:insert="fragments/dialog_Dalete_Address_Confirm::dialogDaleteAddressConfirm"></div>

</main>

<!-- ボタンクリック時、jsでそれぞれの動作を定義 -->
<script th:inline="javascript">
/*[CDATA[*/
$(() => {

	// jQuery-UIダイアログの初期設定
	$('#daleteAddressConfirm').dialog(dialogConfig.daleteAddressConfirm);

	$('#deleteButton').on('click', () => {
		let checkedList = $('.checkList:checked');
		let checkedIdList = [];
	
		if (null) {
			// チェックボックスにチェックが入っていない場合はアラートを表示する
			alert('削除する連絡先を選択してください。');
		} else {
			// チェックボックスにチェックが入っている場合は確認ダイアログを表示する(dialogConfig.js:createConfirmDialog(checkerConfig))
			createConfirmDialog({
			});
			$("#daleteAddressConfirm").dialog("open");
		}
		});
	});

/*]]>*/
</script>

		
</body>

</html>
	