<!doctype HTML>
<html xmlns:th="http://www.thymelef.org">

<head>
	<meta charset="UTF-8">
	<title>連絡先一覧画面</title>
	<link href="/css/address_list.css" th:href="@{/css/address_list.css}" rel="stylesheet" />
</head>

<body>

	<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet"
			href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="/js/util/stringUtil.js" th:src="@{/js/util/stringUtil.js}"></script>
	<script src="/js/util/validator.js" th:src="@{/js/util/validator.js}"></script>
	<script src="/js/dialogConfig.js" th:src="@{/js/dialogConfig.js}"></script>

<main>

	<form name="searchForm" action="/mailsystem/search">
		<input type="text" name="keywords"	th:value="${keywords}"/>
		<button type="submit">検索</button>
	</form>
	
	<button>連絡先削除</button>
	<button onclick="location.href='http://localhost:8080/mailsystem/home/'" class="modoru">ホームへ戻る</button>
	<button onclick="location.href='http://localhost:8080/mailsystem/edit/'" class="modoru">連絡先編集画面へ</button>
	
	<span ></span>
	
</main>
		
</body>

</html>
	