<!doctype HTML>
<html xmlns:th="http://www.thymelef.org">

<head>
	<meta charset="UTF-8">
	<title>連絡先一覧画面</title>
	<link href="/css/address_list.css" th:href="@{/css/address_list.css}" rel="stylesheet" />
</head>

<body>

<header th:insert="fragments/page_header::commonHeader"></header>

<main>
	
<div class="wrapper">

	<div class="form"> 
		<input class="kensaku" type="text" id="search-text" placeholder="社名検索">
		<button class="modoru" onclick="location.href='http://localhost:8080/mailsystem/home/'">ホームへ戻る</button>
		<button class="delete" id="deleteButton">連絡先削除</button>
	</div>
		
	<div class="search-result">
        <div class="search-result__hit-num"></div>
        <div id="search-result__list"></div>
    </div>
	<br>
	<table class="target-area" th:each="address : ${address}">
		<tr>
			<td class="check">
				<input type="checkbox" name="id" id="check" class="checkList" th:value="${address.id}" >
			</td>
			<td class="inner">
				<a href="/mailsystem/edit/" th:href="@{/mailsystem/edit/{id}(id=${address.id})}" >
				<label th:text="${address.companyName}" /></label></a>
			</td>
		</tr>
	</table>
</div>
	
<!-- Modal Dialog (削除確認) -->
<div th:insert="fragments/dialog_Dalete_Address_Confirm::dialogDaleteAddressConfirm"></div>

<!-- Modal Dialog (削除完了) -->
<div th:insert="fragments/dialog_Complete_Delete_Address::dialogCompleteDeleteAddress"></div>

</main>

<!-- ボタンクリック時、jsでそれぞれの動作を定義 -->
<script th:inline="javascript">
/*[CDATA[*/
$(() => {

	// jQuery-UIダイアログの初期設定
	$('#daleteAddressConfirm').dialog(dialogConfig.daleteAddressConfirm);
	
	$('#deleteButton').on('click', () => {
		let checkedList = $('.checkList:checked');
		let checkedIdList = [];
	
		if ($(checkedList).prop("checked") == true) {
			// チェックボックスにチェックが入っている場合は確認ダイアログを表示する(dialogConfig.js:createConfirmDialog(checkerConfig))
			$("#daleteAddressConfirm").dialog("open");
		} else {
			// チェックボックスにチェックが入っていない場合はアラートを表示する
			alert('削除する連絡先を選択してください。');
		}
		});
		
	});
	
	$(function () {
	searchWord = function(){
    var searchText = $(this).val(), // 検索ボックスに入力された値
	targetText;

    $('.target-area').each(function() {
      targetText = $(this).text();

	// 検索対象となるリストに入力された文字列が存在するかどうかを判断
	if (targetText.indexOf(searchText) != -1) {
		$(this).removeClass('hidden');
	} else {
		$(this).addClass('hidden');
	}
	});
	};

	// searchWordの実行
	$('#search-text').on('input', searchWord);
});
/*]]>*/
</script>

</body>

</html>
	