<!doctype HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>メール作成画面</title>
	<link href="/css/create_mail.css" th:href="@{/css/create_mail.css}" rel="stylesheet" />
</head>

<body>

<header th:insert="fragments/page_header::commonHeader"></header>

<main>
	<div class="message" id="create">
		<input type="text" name="messageSubject" value="" placeholder="件名" id="subject">
		<br>
		<textarea name="messageText" placeholder="本文" id="text" rows="4" cols="40"></textarea>
	</div>
	
	
	<div class="menubar">
		<input type="file" id="files" class="menubar_files"/>
		<button onclick="location.href='http://localhost:8080/mailsystem/home/'" class="menubar_cancel">キャンセル</button>
		<button id="confirm" class="menubar_llnextscreen">連絡先選択へ</button>
	</div>
	
	
<!-- Modal Dialog (入力内容確認) -->
<div th:insert="fragments/dialog_create_mail_confirm::dialogCreateMailConfirm"></div>
	
	
	
</main>


<script th:inline="javascript">
 


$(() => {	
	// jQuery-UIダイアログの初期設定
	$('#createMailConfirm').dialog(dialogConfig.createMailConfirm);
	
	
	
	$('button#confirm').on('click', () => {
		let subject = document.getElementById("subject");
	
	
	
		if(subject.value == null){
			alert('件名と本文を入力してください')
		} else{
			$("#createMailConfirm").dialog("open");
			
		}
	});
});
</script>


</body>

</html>