<!doctype HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ホーム画面</title>
	<link href="/css/edit_address.css" th:href="@{/css/edit_address.css}" rel="stylesheet" />
</head>

<body>

<header th:insert="fragments/page_header::commonHeader"></header>

<main>

<div class="container">
	
	<table id="register" class="user">
		<tr>
			<td>
				<div class="company_name">会社名</div>
				<input class="form" type="text" name="companyName" placeholder="会社名" maxlength="32" th:value="${address.companyName}" />
			</td>
			<td>	
				<div class="company_address">所在地</div>
				<input class="form" type="text" name="companyAddress" placeholder="所在地" maxlength="64" th:value="${address.companyAddress}" />
			</td>
		</tr>
	</table>
	<table id="register" class="user">
		<tr>
			<td>
				<div class="corporation">法人呼称の表記位置</div>
				<label class="mae"><input type="radio" name="corporation" th:checked='${address.corporation == 0 ? "checked" : null}' />前株</label>
				<label class="ushiro"><input type="radio" name="corporation" th:checked='${address.corporation == 1 ? "checked" : null}' />後株</label>
			</td>
			<td>
				<div class="company_number">電話番号(会社)</div>
				<input class="form" type="tel" name="companyNumber" placeholder="会社の電話番号" maxlength="16" th:value="${address.companyNumber}" /><br />
			</td>
			<td>
				<button onclick="location.href='http://localhost:8080/mailsystem/list/'" class="modoru">連絡先一覧へ戻る</button>
			</td>
			<td>
				<button class="hensyu" id="confirm">編集</button>
			</td>
		</tr>
	</table>
	<div class="tantou">
	<table id="register">
		<tr>
			<td class="staffform">
				<div class="staff_name">担当者名</div>
				<input class="form" type="text" name="staffName1" placeholder="※必須 氏名" maxlength="16" th:value="${address.staffName1}" /><br />
				<input class="form" type="text" name="staffName2" placeholder="氏名" maxlength="16" th:value="${address.staffName2}" /><br />
				<input class="form" type="text" name="staffName3" placeholder="氏名" maxlength="16" th:value="${address.staffName3}" /><br />
				<input class="form" type="text" name="staffName4" placeholder="氏名" maxlength="16" th:value="${address.staffName4}" /><br />
				<input class="form" type="text" name="staffName5" placeholder="氏名" maxlength="16" th:value="${address.staffName5}" /><br />
				<input class="form" type="text" name="staffName6" placeholder="氏名" maxlength="16" th:value="${address.staffName6}" /><br />
				<input class="form" type="text" name="staffName7" placeholder="氏名" maxlength="16" th:value="${address.staffName7}" /><br />
				<input class="form" type="text" name="staffName8" placeholder="氏名" maxlength="16" th:value="${address.staffName8}" /><br />
				<input class="form" type="text" name="staffName9" placeholder="氏名" maxlength="16" th:value="${address.staffName9}" /><br />
				<input class="form" type="text" name="staffName10" placeholder="氏名" maxlength="16" th:value="${address.staffName10}" /><br />
			</td>
			<td class="staffform">
				<div class="staff_mail">メールアドレス</div>
				<input class="form" type="email" name="staffMail1" placeholder="※必須 担当者のメールアドレス" maxlength="32" th:value="${address.staffMail1}" /><br />
				<input class="form" type="email" name="staffMail2" placeholder="担当者のメールアドレス" maxlength="32" th:value="${address.staffMail2}" /><br />
				<input class="form" type="email" name="staffMail3" placeholder="担当者のメールアドレス" maxlength="32" th:value="${address.staffMail3}" /><br />
				<input class="form" type="email" name="staffMail4" placeholder="担当者のメールアドレス" maxlength="32" th:value="${address.staffMail4}" /><br />
				<input class="form" type="email" name="staffMail5" placeholder="担当者のメールアドレス" maxlength="32" th:value="${address.staffMail5}" /><br />
				<input class="form" type="email" name="staffMail6" placeholder="担当者のメールアドレス" maxlength="32" th:value="${address.staffMail6}" /><br />
				<input class="form" type="email" name="staffMail7" placeholder="担当者のメールアドレス" maxlength="32" th:value="${address.staffMail7}" /><br />
				<input class="form" type="email" name="staffMail8" placeholder="担当者のメールアドレス" maxlength="32" th:value="${address.staffMail8}" /><br />
				<input class="form" type="email" name="staffMail9" placeholder="担当者のメールアドレス" maxlength="32" th:value="${address.staffMail9}" /><br />
				<input class="form" type="email" name="staffMail10" placeholder="担当者のメールアドレス" maxlength="32" th:value="${address.staffMail10}" /><br />
			</td>
			<td class="staffform">
				<div class="staff_number">電話番号</div>
				<input class="form" type="tel" name="staffNumber1" placeholder="担当者の電話番号" maxlength="16" th:value="${address.staffNumber1}" /><br />
				<input class="form" type="tel" name="staffNumber2" placeholder="担当者の電話番号" maxlength="16" th:value="${address.staffNumber2}" /><br />
				<input class="form" type="tel" name="staffNumber3" placeholder="担当者の電話番号" maxlength="16" th:value="${address.staffNumber3}" /><br />
				<input class="form" type="tel" name="staffNumber4" placeholder="担当者の電話番号" maxlength="16" th:value="${address.staffNumber4}" /><br />
				<input class="form" type="tel" name="staffNumber5" placeholder="担当者の電話番号" maxlength="16" th:value="${address.staffNumber5}" /><br />
				<input class="form" type="tel" name="staffNumber6" placeholder="担当者の電話番号" maxlength="16" th:value="${address.staffNumber6}" /><br />
				<input class="form" type="tel" name="staffNumber7" placeholder="担当者の電話番号" maxlength="16" th:value="${address.staffNumber7}" /><br />
				<input class="form" type="tel" name="staffNumber8" placeholder="担当者の電話番号" maxlength="16" th:value="${address.staffNumber8}" /><br />
				<input class="form" type="tel" name="staffNumber9" placeholder="担当者の電話番号" maxlength="16" th:value="${address.staffNumber9}" /><br />
				<input class="form" type="tel" name="staffNumber10" placeholder="担当者の電話番号" maxlength="16" th:value="${address.staffNumber10}" /><br />
			</td>
		</tr>
		<tr>
			<td>
				<div></div>
			</td>
			<td>
				<div></div>
			</td>
			<th class="buttonArea">
				<span class="info hidden">編集が完了しました。</span>
			</th>
		</tr>
	</table>
	</div>
</div>

</main>

</body>

</html>