<!doctype HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ホーム画面</title>
	<link href="/css/home.css" th:href="@{/css/home.css}" rel="stylesheet" />	
</head>

<body>
	<header th:insert="fragments/page_header::commonHeader"></header>
<main>

	<table class = "user-info" border="1" align="left">
		<tr>
    		<th class = "user-info">ユーザー情報</th>
    	</tr>
    	<tr>
    		<td>UserName</td>
    	</tr>
    	<tr>
    		<td>	<span class="welcomeMsg"
			th:text="${loginSession == null || loginSession.getUserName() == null ? 'ゲスト さん' : loginSession.getUserName() + ' さん'}"></span>
			</td>
    	</tr>
    	<tr>
    		<td>Password　変更</td>
    	</tr>
    	<tr>
    		<td>電子署名</td>
    	</tr>
    	<tr>
    		<td><button id="logout">ログアウト</button></td>
    	</tr>
    	<tr>
    		<td>
    			<button class="mail" onclick="location.href='http://localhost:8080/mailsystem/mail/'">メール作成</button><br>
    	
    			<button class="ichiran" onclick="location.href='http://localhost:8080/mailsystem/list/'">連絡先一覧</button><br>
    			
    			<button class="toroku" onclick="location.href='http://localhost:8080/mailsystem/address/'">連絡先登録</button><br>
    			
    		</td>
    	</tr>
    </table>

	<table class = "mail-history" border="1" rules="rows">
	 <tr>
      <th>件名</th>
      <th>送信先</th>
      <th>所属</th>
      <th>日付</th>
    </tr>
		<tr th:each="mail : ${mail}">
			<td><p th:text="${mail.subject}"/></td>
			
			<td><p th:text="${mail.toStaff}"/></td>
		
			<td><p th:text="${mail.toCompany}"/></td>
		
			<td><p th:text="${mail.createdAt}"/></td>
		</tr>		
	</table>


</main>

    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet"
			href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="/js/util/stringUtil.js" th:src="@{/js/util/stringUtil.js}"></script>
	<script src="/js/util/validator.js" th:src="@{/js/util/validator.js}"></script>
	<script src="/js/dialogConfig.js" th:src="@{/js/dialogConfig.js}"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
	$(() => {
		$('#loginError').dialog(dialogConfig.loginError);
		
		$('button#login').on('click', () => {
			let jsonString = {
				'userName': $('div.loginArea input[name=userName]').val(),
				'password': $('div.loginArea input[name=password]').val()
			};
			$.ajax({
				type: 'POST',
				url: '/mailsystem/auth/login',
				data: JSON.stringify(jsonString),
				contentType: 'application/json',
				datatype: 'json',
				scriptCharset: 'utf-8'
			})
			.then((result) => {
				let user = JSON.parse(result);
				if (isEmpty(user)) {
					$('#hiddenUserName').val('');
					$('#loginError').dialog('open');
				} else {
					$('#hiddenUserName').val(user['userName']);
					login(user);
				}
			}, () => {
				alert('Error: ajax connection failed.');
			});
		});
		
		$('button#logout').on('click', () => {
			$.ajax({
				type: 'POST',
				url: '/mailsystem/auth/logout',
				datatype: 'json',
				scriptCharset: 'utf-8'
			})
			.then((result) => {
				$('#hiddenUserName').val('');
				logout();
				alert('ログアウトしました。');
				location.replace('/mailsystem/login/');
			}, () => {
				alert('Error: ajax connection failed.');
			});
		});
		
	});
	
	function login(user) {
		let userName = user['userName'];
		$('.welcomeMsg').text(`ようこそ！ ${userName} さん`);
		if (isEmpty($('button#login').prop('class'))) {
			$('button#login').addClass('hidden');
			$('button#logout').removeClass('hidden');
		}

		$('#mypageMenu').removeClass('hidden');
		
		$('div.loginArea input[name=userName]').val('');
		$('div.loginArea input[name=password]').val('');
	}
	
	function logout() {
		$('.welcomeMsg').text(`ようこそ！ ゲスト さん`);
		if (isEmpty($('button#logout').prop('class'))) {
			$('button#logout').addClass('hidden');
			$('button#login').removeClass('hidden');
		}
		if (isEmpty($('#mypageMenu').prop('class'))) {
			$('#mypageMenu').addClass('hidden');
		}
		
		$('div.loginArea input[name=userName]').val('');
		$('div.loginArea input[name=password]').val('');
	}
	
	function koshin(){
		location.reload();
	}
	
	/*]]>*/
	</script>

</body>

</html>