<!doctype HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ホーム画面</title>
	
</head>

<body>

<main>

	<img class="logo" src="/img/h_logo.png">

	<a href="http://localhost:8080/mailsystem/mail/">メール作成</a>
	
	<a href="http://localhost:8080/mailsystem/list/">連絡先一覧</a>
	
	<a href="http://localhost:8080/mailsystem/address/">連絡先登録</a>


	<table>
		<tr th:each="address : ${address}">
			<td><input th:text="${address.companyName}" th:value="${address.id}" /></td>
		</tr>
	</table>


</main>

</body>

</html>