<!doctype HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>送信確認画面</title>
	<link href="/css/create_mail.css" th:href="@{/css/create_mail.css}" rel="stylesheet" />
</head>

<body>
<header th:insert="fragments/page_header::commonHeader"></header>
<main>
	
	<table th:each="mail : ${mail}">
		<tr>
			<th>件名</th>
			<td><span th:text="${mail.subject}"></span></td>
		</tr>
		<tr>
			<th>本文</th>
			<td><span th:text="${mail.subject}"></span></td>
		</tr>
		<tr>
			<th>添付ファイル</th>
		</tr>
	</table>
	
	
	
	
	<table>
		<tr>
			<th>会社</th>
			<th>担当者</th>
			<th>メールアドレス</th>
		</tr>
		
	</table>
	
	
</main>

<script type="text/javascript">

	
</script>


</body>

</html>