<!doctype HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>連絡先登録</title>
	<link href="/css/register_address.css" th:href="@{/css/register_address.css}" rel="stylesheet" />
</head>

<body>
	<header th:insert="fragments/page_header::commonHeader"></header>

<main>

<span class="welcomeMsg"
			th:text="'ようこそ！ ' + ${loginSession == null || loginSession.getUserName() == null ? 'ゲスト さん' : loginSession.getUserName() + ' さん'}"></span>

<div class="container">
	<h2 class="title">新規連絡先登録</h2>
	
	<table id="register" class="user">
		<tr>
			<td>
				<div class="company_name">会社名</div>
				<input class="form" type="text" name="companyName" placeholder="会社名" maxlength="16" />
			</td>
			<td>
				<div class="chofukukakunin">
					<button id="checkCompanyName">重複確認</button>
					<span id="checkOK" class="hidden">OK</span>
				</div>
			</td>
			<td>	
				<div class="company_address">会社住所</div>
				<input class="form" type="text" name="companyAddress"placeholder="所在地" maxlength="32" />
			</td>
		</tr>
	</table>
	<table id="register" class="user">
		<tr>
			<td class="staffform">
				<div class="staff_name">担当者名</div>
				<input class="form" type="text" name="staffName" placeholder="氏名" maxlength="16" /><br />
				<input class="form" type="text" name="staffName" placeholder="氏名" maxlength="16" /><br />
				<input class="form" type="text" name="staffName" placeholder="氏名" maxlength="16" /><br />
			</td>
			<td>
				<div class="staff_mail">メールアドレス</div>
				<input class="form" type="email" name="mailAddress" placeholder="担当者のメールアドレス" maxlength="32" /><br />
				<input class="form" type="email" name="mailAddress" placeholder="担当者のメールアドレス" maxlength="32" /><br />
				<input class="form" type="email" name="mailAddress" placeholder="担当者のメールアドレス" maxlength="32" /><br />
			</td>
			<td>
				<div class="phone_number">電話番号</div>
				<input class="form" type="tel" name="phoneNumber" placeholder="担当者の電話番号" maxlength="16" /><br />
				<input class="form" type="tel" name="phoneNumber" placeholder="担当者の電話番号" maxlength="16" /><br />
				<input class="form" type="tel" name="phoneNumber" placeholder="担当者の電話番号" maxlength="16" /><br />
			</td>
		<tr>

		<tr>
			<th class="buttonArea">
				<span class="info hidden">登録が完了しました。</span>
			</th>
			<th>
				<button class="kakunin" id="confirm" disabled>確認</button>
			</th>
	</table>
	
</div>

<!-- Modal Dialog (会社名重複) -->
<div th:insert="fragments/dialog_duplicated_company_name::dialogDuplicatedCompanyName"></div>

<!-- Modal Dialog (会社情報入力エラー) -->
<div th:insert="fragments/dialog_input_company_error::dialogInputCompanyError"></div>

<!-- Modal Dialog (入力内容確認) -->
<div th:insert="fragments/dialog_input_company_confirm::dialogInputCompanyConfirm"></div>

</main>
<script>
// dialog_input_company_error.htmlのエラーメッセージを表示するdivのクラスを定義
const errorSelector = {
	'会社名': '.companyNameError',
	'担当者名': '.staffNameError',
	'メールアドレス': '.mailAddressError',
	
};

$(() => {
	
	// jQuery-UIダイアログの初期設定
	$('#duplicatedCompanyName').dialog(dialogConfig.duplicatedCompanyName);
	$('#inputCompanyError').dialog(dialogConfig.inputCompanyError);
	$('#inputCompanyConfirm').dialog(dialogConfig.inputCompanyConfirm);
	
	$('button#checkCompanyName').on('click', () => {
		let companyName = $('table#register input[name=companyName]');
		if (isEmpty($(companyName).val())) return;
		checkCompanyName(companyName);
	});
	
	$('button#confirm').on('click', () => {
	// 入力チェック処理(validate.js:validate(checkerConfig))を呼び出す
	// 引数はvalidate.js:checkerからチェックしたい項目の変数の宣言を作成する
		let errInfo = validate({
			'companyName': checker.companyName,
				'staffName': checker.staffName,
				'mailAddress': checker.mailAddress,
				'companyAddress': checker.companyAddress,
				'phoneNumber': checker.phoneNumber,
	
		});
		if (errInfo.isError) {
			// エラーがあればエラーダイアログを表示する(validator.js:createErrorDialog(checkerConfig))
			createErrorDialog(errInfo.errMsg);
			$("#inputCompanyError").dialog("open");
		} else {
			// エラーがなければ、確認ダイアログを表示する(dialogConfig.js:createConfirmDialog(checkerConfig))
			createConfirmDialog({
				'companyName': checker.companyName,
				'staffName': checker.staffName,
				'mailAddress': checker.mailAddress,
				'companyAddress': checker.companyAddress,
				'phoneNumber': checker.phoneNumber,
	
			});
			$("#inputCompanyConfirm").dialog("open");
		}
	});
});

	function checkCompanyName(companyName) {
		let errInfo = validate({ 'companyName': checker.companyName });
		if (errInfo.isError) {
				createErrorDialog(errInfo.errMsg);
				$("#inputCompanyError").dialog("open");
				return;
			}
	
		$.ajax({
			type: 'POST',
			url: '/mailsystem/address/duplicatedCompanyName',
			data: companyName,
			scriptCharset: 'utf-8'
		})
		.then((result) => {
			if (result) {	// 重複あり
				$('button#confirm').prop('disabled', true);
				$("#duplicatedCompanyName").dialog("open");
				//$('button#checkCompanyName').prop('class', '');
				$('span#checkOK').prop('class', 'hidden');
			} else {			// 重複なし
				$('button#confirm').prop('disabled', false);
				//$('button#checkCompanyName').prop('class', 'hidden');
				$('span#checkOK').prop('class', 'info');
			}
		}, () => {
			alert('Error: ajax connection failed.');
		});
	
}

</script>

</body>

</html>
