<!doctype HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規ユーザー登録画面</title>
	<link href="/css/register_user.css" th:href="@{/css/register_user.css}" rel="stylesheet" />
</head>

<body>

<main>

<img class="logo" src="/img/h_logo.png">

<div class="container">
	<h3 class="title">新規ユーザー登録</h3>
	
	<table id="register" class="user">
		<tr>
			<td>
				<input class="form" type="text" name="familyName" placeholder="姓" maxlength="16" />
				<input class="form" type="text" name="firstName" placeholder="名" maxlength="16" />
			</td>
		</tr>
		
		<tr>
			<td>
				<input class="form" type="email" name="mailAddress" placeholder="メールアドレス" maxlength="32" />
				<button id="checkMailAddress">重複確認</button>
				<span id="checkOK" class="hidden">OK</span>
			</td>
		</tr>
		
		<tr>
			<td>
				<input class="form" type="password" name="password" placeholder="※半角英数字6~16文字まで" maxlength="16" /><br />
				<input class="form" type="password" name="password" placeholder="確認のためもう一度入力してください" maxlength="16" />
			</td>
		</tr>
		
		<tr>
			<th class="buttonArea">
				<span class="info hidden">登録が完了しました。</span>
			</th>
		
			<th class="buttonArea">
				<button id="confirm" disabled>確認</button>
			</th>
		</tr>
	</table>
	
</div>

<!-- Modal Dialog (メールアドレス重複) -->
<div th:insert="fragments/dialog_duplicated_mail_address::dialogDuplicatedMailAddress"></div>

<!-- Modal Dialog (ユーザー入力エラー) -->
<div th:insert="fragments/dialog_input_user_error::dialogInputUserError"></div>

<!-- Modal Dialog (入力内容確認) -->
<div th:insert="fragments/dialog_input_user_confirm::dialogInputUserConfirm"></div>

</main>

<script>
// dialog_input_user_error.htmlのエラーメッセージを表示するdivのクラスを定義
const errorSelector = {
	'姓': '.familyNameError',
	'名': '.firstNameError',
	'メールアドレス': '.mailAddressError',
	'パスワード': '.passwordError',
};

$(() => {
	
	// jQuery-UIダイアログの初期設定
	$('#duplicatedMailAddress').dialog(dialogConfig.duplicatedMailAddress);
	$('#inputUserError').dialog(dialogConfig.inputUserError);
	$('#inputUserConfirm').dialog(dialogConfig.inputUserConfirm);
	
	$('button#checkMailAddress').on('click', () => {
		let mailAddress = $('button#checkMailAddress input[name=mailAddress]');
		if (isEmpty($(mailAddress).val())) return;
		checkMailAddress(mailAddress);
	});
	
	$('button#confirm').on('click', () => {
	// 入力チェック処理(validate.js:validate(checkerConfig))を呼び出す
	// 引数はvalidate.js:checkerからチェックしたい項目の変数の宣言を作成する
		let errInfo = validate({
			'familyName': checker.familyName,
			'firstName': checker.firstName,
			'mailAddress': checker.mailAddress,
			'password': checker.password,
		});
		if (errInfo.isError) {
			// エラーがあればエラーダイアログを表示する(volidator.js:createErrorDialog(checkerConfig))
			createErrorDialog(errInfo.errMsg);
			$("#inputUserError").dialog("open");
		} else {
			// エラーがなければ、確認ダイアログを表示する(dialogConfig.js:createConfirmDialog(checkerConfig))
			createConfirmDialog({
				'familyName': checker.familyName,
				'firstName': checker.firstName,
				'mailAddress': checker.mailAddress,
				'password': checker.password,
			});
			$("#inputUserConfirm").dialog("open");
		}
	});
});

	function checkMailAddress(mailAddress) {
		let errInfo = validate({ 'mailAddress': checker.mailAddress });
		if (errInfo.isError) {
				createErrorDialog(errInfo.errMsg);
				$("#inputUserError").dialog("open");
				return;
			}
	
		$.ajax({
			type: 'POST',
			url: '/mailsystem/user/duplicatedMailAddress',
			data: mailAddress,
			scriptCharset: 'utf-8'
		})
		.then((result) => {
			if (result) {	// 重複あり
				$('button#confirm').prop('disabled', true);
				$("#duplicatedMailAddress").dialog("open");
				//$('button#checkMailAddress').prop('class', '');
				$('span#checkOK').prop('class', 'hidden');
			} else {			// 重複なし
				$('button#confirm').prop('disabled', false);
				//$('button#checkMailAddress').prop('class', 'hidden');
				$('span#checkOK').prop('class', 'info');
			}
		}, () => {
			alert('Error: ajax connection failed.');
		});
	
}

</script>


</body>

</html>
