<!doctype HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>情報入力画面</title>
	<link href="/css/register_address.css" th:href="@{/css/register_address.css}" rel="stylesheet" />
<style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0px; padding: 0px }
      #map { height: 100% }
    </style>

    <script src="http://maps.google.com/maps/api/js?v=3&sensor=false"
        type="text/javascript" charset="UTF-8"></script>

    <script type="text/javascript">
    //<![CDATA[

    var map;
    
    // 初期化。bodyのonloadでinit()を指定することで呼び出してます
    function init() {

      // Google Mapで利用する初期設定用の変数
      var latlng = new google.maps.LatLng(39, 138);
      var opts = {
        zoom: 5,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: latlng
      };

      // getElementById("map")の"map"は、body内の<div id="map">より
      map = new google.maps.Map(document.getElementById("map"), opts);

      // clickイベントを取得するListenerを追加
      google.maps.event.addListener(map, 'click', clickEventFunc);
    }

    function clickEventFunc(event) {
      alert(event.latLng.toString());
    }

    //]]>
    </script>
  </head>

<body onload="init()">
	
	<header th:insert="fragments/page_header::commonHeader"></header>

    <div id="map"></div>

<div class="container">
	
	<table id="register" class="user">
		<tr>
			<td>
				<div class="company_name">座標</div>
				<input class="form" type="text" name="companyName" placeholder="必須" maxlength="128" tabindex="1" />
			</td>
			<td>
			</td>
			<td>	
				<div class="company_address">期間(いつから)</div>
				<input class="form" type="text" name="companyAddress" placeholder="" maxlength="32" tabindex="2" />
			</td>
		</tr>
	</table>
	<table id="register" class="user">
		<tr>
			<td>
				<div class="company_number">期間(いつまで)</div>
				<input class="form" type="tel" name="companyNumber" placeholder="" maxlength="16" tabindex="3" /><br />
			</td>
			<td>
				<button class="kakunin" id="confirm">確認</button>
			</td>
		</tr>
	</table>
	<div class="tantou">
	<table id="register">
		<tr>
			<td class="staffform">
				<div class="staff_name">時間帯</div>
				<input class="form" type="text" name="staffName1" placeholder="必須" maxlength="16" tabindex="4" /><br />
				<input class="hidden" type="text" name="staffName2" placeholder="氏名" maxlength="16" tabindex="7"/><br />
				<input class="hidden" type="text" name="staffName3" placeholder="氏名" maxlength="16" tabindex="10"/><br />
				<input class="hidden" type="text" name="staffName4" placeholder="氏名" maxlength="16" tabindex="13"/><br />
				<input class="hidden" type="text" name="staffName5" placeholder="氏名" maxlength="16" tabindex="16"/><br />
				<input class="hidden" type="text" name="staffName6" placeholder="氏名" maxlength="16" tabindex="19"/><br />
				<input class="hidden" type="text" name="staffName7" placeholder="氏名" maxlength="16" tabindex="22"/><br />
				<input class="hidden" type="text" name="staffName8" placeholder="氏名" maxlength="16" tabindex="25"/><br />
				<input class="hidden" type="text" name="staffName9" placeholder="氏名" maxlength="16" tabindex="28"/><br />
				<input class="hidden" type="text" name="staffName10" placeholder="氏名" maxlength="16" tabindex="31"/><br />
			</td>
			<td class="staffform">
				<div class="staff_mail">内容</div>
				<input class="form" type="email" name="staffMail1" placeholder="必須" maxlength="32" tabindex="5"/><br />
				<input class="hidden" type="email" name="staffMail2" placeholder="担当者のメールアドレス" maxlength="255" tabindex="8"/><br />
				<input class="hidden" type="email" name="staffMail3" placeholder="担当者のメールアドレス" maxlength="32" tabindex="11"/><br />
				<input class="hidden" type="email" name="staffMail4" placeholder="担当者のメールアドレス" maxlength="32" tabindex="14"/><br />
				<input class="hidden" type="email" name="staffMail5" placeholder="担当者のメールアドレス" maxlength="32" tabindex="17"/><br />
				<input class="hidden" type="email" name="staffMail6" placeholder="担当者のメールアドレス" maxlength="32" tabindex="20"/><br />
				<input class="hidden" type="email" name="staffMail7" placeholder="担当者のメールアドレス" maxlength="32" tabindex="23"/><br />
				<input class="hidden" type="email" name="staffMail8" placeholder="担当者のメールアドレス" maxlength="32" tabindex="26"/><br />
				<input class="hidden" type="email" name="staffMail9" placeholder="担当者のメールアドレス" maxlength="32" tabindex="29"/><br />
				<input class="hidden" type="email" name="staffMail10" placeholder="担当者のメールアドレス" maxlength="32" tabindex="31"/><br />
			</td>
			<td class="staffform">
				<div class="staff_number">何号室</div>
				<input class="form" type="tel" name="staffNumber1" placeholder="" maxlength="16" tabindex="6"/><br />
				<input class="hidden" type="tel" name="staffNumber2" placeholder="担当者の電話番号" maxlength="16" tabindex="9"/><br />
				<input class="hidden" type="tel" name="staffNumber3" placeholder="担当者の電話番号" maxlength="16" tabindex="12"/><br />
				<input class="hidden" type="tel" name="staffNumber4" placeholder="担当者の電話番号" maxlength="16" tabindex="15"/><br />
				<input class="hidden" type="tel" name="staffNumber5" placeholder="担当者の電話番号" maxlength="16" tabindex="18"/><br />
				<input class="hidden" type="tel" name="staffNumber6" placeholder="担当者の電話番号" maxlength="16" tabindex="21"/><br />
				<input class="hidden" type="tel" name="staffNumber7" placeholder="担当者の電話番号" maxlength="16" tabindex="24"/><br />
				<input class="hidden" type="tel" name="staffNumber8" placeholder="担当者の電話番号" maxlength="16" tabindex="27"/><br />
				<input class="hidden" type="tel" name="staffNumber9" placeholder="担当者の電話番号" maxlength="16" tabindex="30"/><br />
				<input class="hidden" type="tel" name="staffNumber10" placeholder="担当者の電話番号" maxlength="16" tabindex="32"/><br />
			</td>
		</tr>
		<tr>
			<td>
				<input class="hidden" type="text" name="userId" th:value="${loginSession.getUserId}" />
			</td>
			<td>
				<div></div>
			</td>
			<th class="buttonArea">
				<span class="info hidden">登録が完了しました。</span>
			</th>
		</tr>
	</table>
	</div>
</div>

<!-- Modal Dialog (会社名重複) -->
<div th:insert="fragments/dialog_duplicated_company_name::dialogDuplicatedCompanyName"></div>

<!-- Modal Dialog (会社情報入力エラー) -->
<div th:insert="fragments/dialog_input_company_error::dialogInputCompanyError"></div>

<!-- Modal Dialog (入力内容確認) -->
<div th:insert="fragments/dialog_input_company_confirm::dialogInputCompanyConfirm"></div>

</main>

<script>
// dialog_input_company_error.htmlのエラーメッセージを表示するdivのクラスを定義
const errorSelector = {
	'会社名': '.companyNameError',
	'所在地': '.companyAddressError',
	//'電話番号(会社)': '.companyNumberError',
	'担当者名1': '.staffName1Error',
	//'メールアドレス1': '.staffMail1Error',
	//'電話番号(担当者)1': '.staffNumber1Error',
	'担当者名2': '.staffName2Error',
	'メールアドレス2': '.staffMail2Error',
	'電話番号(担当者)2': '.staffNumber2Error',
	'担当者名3': '.staffName1Error',
	'メールアドレス3': '.staffMail1Error',
	'電話番号(担当者)3': '.staffNumber1Error',
	'担当者名4': '.staffName2Error',
	'メールアドレス4': '.staffMail2Error',
	'電話番号(担当者)4': '.staffNumber2Error',
	'担当者名5': '.staffName1Error',
	'メールアドレス5': '.staffMail1Error',
	'電話番号(担当者)5': '.staffNumber1Error',
	'担当者名6': '.staffName2Error',
	'メールアドレス6': '.staffMail2Error',
	'電話番号(担当者)6': '.staffNumber2Error',
	'担当者名7': '.staffName1Error',
	'メールアドレス7': '.staffMail1Error',
	'電話番号(担当者)7': '.staffNumber1Error',
	'担当者名8': '.staffName2Error',
	'メールアドレス8': '.staffMail2Error',
	'電話番号(担当者)8': '.staffNumber2Error',
	'担当者名9': '.staffName1Error',
	'メールアドレス9': '.staffMail1Error',
	'電話番号(担当者)9': '.staffNumber1Error',
	'担当者名10': '.staffName2Error',
	'メールアドレス10': '.staffMail2Error',
	'電話番号(担当者)10': '.staffNumber2Error',
};

$(() => {
	
	// jQuery-UIダイアログの初期設定
	$('#inputCompanyError').dialog(dialogConfig.inputCompanyError);
	$('#inputCompanyConfirm').dialog(dialogConfig.inputCompanyConfirm);
	
	$('button#confirm').on('click', () => {
	// 入力チェック処理(validate.js:validate(checkerConfig))を呼び出す
	// 引数はvalidate.js:checkerからチェックしたい項目の変数の宣言を作成する
		let errInfo = validate({
			'companyName': checker.companyName,
			'companyAddress': checker.companyAddress,
			'corporation': null,
			//'companyNumber': checker.companyNumber,
			'staffName1': checker.staffName1,
			//'staffMail1': checker.staffMail1,
			//'staffNumber1': checker.staffNumber1,
			'staffName2': checker.staffName2,
			'staffMail2': checker.staffMail2,
			'staffNumber2': checker.staffNumber2,
			'staffName3': checker.staffName3,
			'staffMail3': checker.staffMail3,
			'staffNumber3': checker.staffNumber3,
			'staffName4': checker.staffName4,
			'staffMail4': checker.staffMail4,
			'staffNumber4': checker.staffNumber4,
			'staffName5': checker.staffName5,
			'staffMail5': checker.staffMail5,
			'staffNumber5': checker.staffNumber5,
			'staffName6': checker.staffName6,
			'staffMail6': checker.staffMail6,
			'staffNumber6': checker.staffNumber6,
			'staffName7': checker.staffName7,
			'staffMail7': checker.staffMail7,
			'staffNumber7': checker.staffNumber7,
			'staffName8': checker.staffName8,
			'staffMail8': checker.staffMail8,
			'staffNumber8': checker.staffNumber8,
			'staffName9': checker.staffName9,
			'staffMail9': checker.staffMail9,
			'staffNumber9': checker.staffNumber9,
			'staffName10': checker.staffName10,
			'staffMail10': checker.staffMail10,
			'staffNumber10': checker.staffNumber10,
		});
		if (errInfo.isError) {
			// エラーがあればエラーダイアログを表示する(validator.js:createErrorDialog(checkerConfig))
			createErrorDialog(errInfo.errMsg);
			$("#inputCompanyError").dialog("open");
		} else {
			// エラーがなければ、確認ダイアログを表示する(dialogConfig.js:createConfirmDialog(checkerConfig))
			createConfirmDialog({
				'companyName': checker.companyName,
				'companyAddress': checker.companyAddress,
				'corporation': null,
				'companyNumber': checker.companyNumber,
				'staffName1': checker.staffName1,
				'staffMail1': checker.staffMail1,
				'staffNumber1': checker.staffNumber1,
				'staffName2': checker.staffName2,
				'staffMail2': checker.staffMail2,
				'staffNumber2': checker.staffNumber2,
				'staffName3': checker.staffName3,
				'staffMail3': checker.staffMail3,
				'staffNumber3': checker.staffNumber3,
				'staffName4': checker.staffName4,
				'staffMail4': checker.staffMail4,
				'staffNumber4': checker.staffNumber4,
				'staffName5': checker.staffName5,
				'staffMail5': checker.staffMail5,
				'staffNumber5': checker.staffNumber5,
				'staffName6': checker.staffName6,
				'staffMail6': checker.staffMail6,
				'staffNumber6': checker.staffNumber6,
				'staffName7': checker.staffName7,
				'staffMail7': checker.staffMail7,
				'staffNumber7': checker.staffNumber7,
				'staffName8': checker.staffName8,
				'staffMail8': checker.staffMail8,
				'staffNumber8': checker.staffNumber8,
				'staffName9': checker.staffName9,
				'staffMail9': checker.staffMail9,
				'staffNumber9': checker.staffNumber9,
				'staffName10': checker.staffName10,
				'staffMail10': checker.staffMail10,
				'staffNumber10': checker.staffNumber10,	
			});
			$("#inputCompanyConfirm").dialog("open");
		}
	});
});

	function checkCompanyName(companyName) {
		let errInfo = validate({ 'companyName': checker.companyName });
		if (errInfo.isError) {
				createErrorDialog(errInfo.errMsg);
				$("#inputCompanyError").dialog("open");
				return;
			}
	
		$.ajax({
			type: 'POST',
			url: '/mailsystem/address/duplicatedCompanyName',
			data: companyName,
			scriptCharset: 'utf-8'
		})
		.then((result) => {
			if (result) {	// 重複あり
				$('button#confirm').prop('disabled', true);
				$("#duplicatedCompanyName").dialog("open");
				//$('button#checkCompanyName').prop('class', '');
				$('span#checkOK').prop('class', 'hidden');
			} else {			// 重複なし
				$('button#confirm').prop('disabled', false);
				//$('button#checkCompanyName').prop('class', 'hidden');
				$('span#checkOK').prop('class', 'info');
			}
		}, () => {
			alert('Error: ajax connection failed.');
		});
	
}

</script>

</body>

</html>

