<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>送信先選択画面</title>
	<link href="/css/select_company.css" th:href="@{/css/select_company.css}" rel="stylesheet" />
</head>

<body>

<header th:insert="fragments/page_header::commonHeader"></header>

<main>

	<div id="selectAddress" title="送信先選択">
		<div class="form"> 
			<input class="kensaku" type="text" id="search-text" placeholder="社名検索">
			<button class="back" onclick="location.href='http://localhost:8080/mailsystem/mail/'">戻る</button>
		</div>
		<br>
		
	<table class="target-area" th:each="address : ${address}">
		<tr class="company">
			<td class="inner">
				<a href="/mailsystem/selectStaff/" th:href="@{/mailsystem/selectStaff/{id}(id=${address.id})}" >
				<label th:text="${address.companyName}" /></label></a>
			</td>
		</tr>
	</table>
		
	</div>
	
</main>

<script th:inline="javascript">
/*[CDATA[*/
$(() => {

	//連絡先検索機能
	$(function () {
		searchWord = function(){
    	let searchText = $(this).val(), // 検索ボックスに入力された値
		targetText;

    $('.target-area').each(function() {
    	targetText = $(this).text();

	//検索対象となるリストに入力された文字列が存在するかどうかを判断
		if (targetText.indexOf(searchText) != -1) {
			$(this).removeClass('hidden');
		} else {
			$(this).addClass('hidden');
		}
	});
	};

	//searchWordの実行
		$('#search-text').on('input', searchWord);
	});
})
/*]]>*/
</script>

</th:block>

</body>
</html>