<!doctype HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>送信先選択画面</title>
	<link href="/css/select_staff.css" th:href="@{/css/select_staff.css}" rel="stylesheet" />
</head>

<body>

<header th:insert="fragments/page_header::commonHeader"></header>

<main>

	<button class="all_select" id="all_select">全て選択</button>
	<button class="back_mail" onclick="location.href='http://localhost:8080/mailsystem/mail/'">メール作成へ戻る</button>
	<button class="back_company" onclick="location.href='http://localhost:8080/mailsystem/select/'">会社一覧へ戻る</button>
	<br />
	<h1><span th:class="${address.corporation == 1 ? 'hidden' : ''}">株式会社 </span><span class="company_name" th:text="${address.companyName}"></span>
		<span th:class="${address.corporation == 0 ? 'hidden' : ''}">株式会社</span></h1>
	<br />
	
	<table id="register">
		<tr>
			<td><div class="staff_select">選択</div></td>
			<td><div class="staff_name">担当者名</div></td>
			<td><div class="staff_mail">メールアドレス</div></td>
			<td><div class="staff_number">電話番号</div></td>
		</tr>
		<tr>
			<td><button th:class="${address.staffMail1 == '' ? 'hidden' : ''}" id="register1">選択</button></td>
			<td><span th:text="${address.staffName1}"></span></td>
			<td>
				<span th:text="${address.staffMail1}"></span>
				<input class="form" type="text" name="companyName1" th:value="${address.companyName}" />
				<input class="form" type="text" name="corporation1" th:value="${address.corporation}" />
				<input class="form" type="text" name="userId1" th:value="${loginSession.getUserId}" />
				<input class="form" type="text" name="staffName1" th:value="${address.staffName1}" />
				<input class="form" type="text" name="staffMail1" th:value="${address.staffMail1}" />
			</td>
			<td><span th:text="${address.staffNumber1}"></span></td>
		</tr>
		<tr>
			<td><button th:class="${address.staffMail2 == '' ? 'hidden' : ''}" id="register2">選択</button></td>
			<td><span th:text="${address.staffName2}"></span></td>
			<td>
				<span th:text="${address.staffMail2}"></span>
				<input class="form" type="text" name="companyName2" th:value="${address.companyName}" />
				<input class="form" type="text" name="corporation2" th:value="${address.corporation}" />
				<input class="form" type="text" name="userId2" th:value="${loginSession.getUserId}" />
				<input class="form" type="text" name="staffName2" th:value="${address.staffName2}" />
				<input class="form" type="text" name="staffMail2" th:value="${address.staffMail2}" />
			</td>
			<td><span th:text="${address.staffNumber2}"></span></td>
		</tr>
		<tr>
			<td><button th:class="${address.staffMail3 == '' ? 'hidden' : ''}" id="register3">選択</button></td>
			<td><span th:text="${address.staffName3}"></span></td>
			<td>
				<span th:text="${address.staffMail3}"></span>
				<input class="form" type="text" name="companyName3" th:value="${address.companyName}" />
				<input class="form" type="text" name="corporation3" th:value="${address.corporation}" />
				<input class="form" type="text" name="userId3" th:value="${loginSession.getUserId}" />
				<input class="form" type="text" name="staffName3" th:value="${address.staffName3}" />
				<input class="form" type="text" name="staffMail3" th:value="${address.staffMail3}" />
			</td>
			<td><span th:text="${address.staffNumber3}"></span></td>
		</tr>
		<tr>
			<td><button th:class="${address.staffMail4 == '' ? 'hidden' : ''}" id="register4">選択</button></td>
			<td><span th:text="${address.staffName4}"></span></td>
			<td>
				<span th:text="${address.staffMail4}"></span>
				<input class="form" type="text" name="companyName4" th:value="${address.companyName}" />
				<input class="form" type="text" name="corporation4" th:value="${address.corporation}" />
				<input class="form" type="text" name="userId4" th:value="${loginSession.getUserId}" />
				<input class="form" type="text" name="staffName4" th:value="${address.staffName4}" />
				<input class="form" type="text" name="staffMail4" th:value="${address.staffMail4}" />
			</td>
			<td><span th:text="${address.staffNumber4}"></span></td>
		</tr>
		<tr>
			<td><button th:class="${address.staffMail5 == '' ? 'hidden' : ''}" id="register5">選択</button></td>
			<td><span th:text="${address.staffName5}"></span></td>
			<td>
				<span th:text="${address.staffMail5}"></span>
				<input class="form" type="text" name="companyName5" th:value="${address.companyName}" />
				<input class="form" type="text" name="corporation5" th:value="${address.corporation}" />
				<input class="form" type="text" name="userId5" th:value="${loginSession.getUserId}" />
				<input class="form" type="text" name="staffName5" th:value="${address.staffName5}" />
				<input class="form" type="text" name="staffMail5" th:value="${address.staffMail5}" />
			</td>
			<td><span th:text="${address.staffNumber5}"></span></td>
		</tr>
		<tr>
			<td><button th:class="${address.staffMail6 == '' ? 'hidden' : ''}" id="register6">選択</button></td>
			<td><span th:text="${address.staffName6}"></span></td>
			<td>
				<span th:text="${address.staffMail6}"></span>
				<input class="form" type="text" name="companyName6" th:value="${address.companyName}" />
				<input class="form" type="text" name="corporation6" th:value="${address.corporation}" />
				<input class="form" type="text" name="userId6" th:value="${loginSession.getUserId}" />
				<input class="form" type="text" name="staffName6" th:value="${address.staffName6}" />
				<input class="form" type="text" name="staffMail6" th:value="${address.staffMail6}" />
			</td>
			<td><span th:text="${address.staffNumber6}"></span></td>
		</tr>
		<tr>
			<td><button th:class="${address.staffMail7 == '' ? 'hidden' : ''}" id="register7">選択</button></td>
			<td><span th:text="${address.staffName7}"></span></td>
			<td>
				<span th:text="${address.staffMail7}"></span>
				<input class="form" type="text" name="companyName7" th:value="${address.companyName}" />
				<input class="form" type="text" name="corporation7" th:value="${address.corporation}" />
				<input class="form" type="text" name="userId7" th:value="${loginSession.getUserId}" />
				<input class="form" type="text" name="staffName7" th:value="${address.staffName7}" />
				<input class="form" type="text" name="staffMail7" th:value="${address.staffMail7}" />
			</td>
			<td><span th:text="${address.staffNumber7}"></span></td>
		</tr>
		<tr>
			<td><button th:class="${address.staffMail8 == '' ? 'hidden' : ''}" id="register8">選択</button></td>
			<td><span th:text="${address.staffName8}"></span></td>
			<td>
				<span th:text="${address.staffMail8}"></span>
				<input class="form" type="text" name="companyName8" th:value="${address.companyName}" />
				<input class="form" type="text" name="corporation8" th:value="${address.corporation}" />
				<input class="form" type="text" name="userId8" th:value="${loginSession.getUserId}" />
				<input class="form" type="text" name="staffName8" th:value="${address.staffName8}" />
				<input class="form" type="text" name="staffMail8" th:value="${address.staffMail8}" />
			</td>
			<td><span th:text="${address.staffNumber8}"></span></td>
		</tr>
		<tr>
			<td><button th:class="${address.staffMail9 == '' ? 'hidden' : ''}" id="register9">選択</button></td>
			<td><span th:text="${address.staffName9}"></span></td>
			<td>
				<span th:text="${address.staffMail9}"></span>
				<input class="form" type="text" name="companyName9" th:value="${address.companyName}" />
				<input class="form" type="text" name="corporation9" th:value="${address.corporation}" />
				<input class="form" type="text" name="userId9" th:value="${loginSession.getUserId}" />
				<input class="form" type="text" name="staffName9" th:value="${address.staffName9}" />
				<input class="form" type="text" name="staffMail9" th:value="${address.staffMail9}" />
			</td>
			<td><span th:text="${address.staffNumber9}"></span></td>
		</tr>
		<tr>
			<td><button th:class="${address.staffMail10 == '' ? 'hidden' : ''}" id="register10">選択</button></td>
			<td><span th:text="${address.staffName10}"></span></td>
			<td>
				<span th:text="${address.staffMail10}"></span>
				<input class="form" type="text" name="companyName10" th:value="${address.companyName}" />
				<input class="form" type="text" name="corporation10" th:value="${address.corporation}" />
				<input class="form" type="text" name="userId10" th:value="${loginSession.getUserId}" />
				<input class="form" type="text" name="staffName10" th:value="${address.staffName10}" />
				<input class="form" type="text" name="staffMail10" th:value="${address.staffMail10}" />
			</td>
			<td><span th:text="${address.staffNumber10}"></span></td>
		</tr>
		
	</table>

</main>

<script type="text/javascript">

	//連絡先全選択機能
	$('button#all_select').on('click', () => {
		let jsonString = {
			'userId1': $('table#register input[name=userId1]').val(),
			'companyName1': $('table#register input[name=companyName1]').val(),
			'corporation1': $('table#register input[name=corporation1]').val(),
			'staffName1': $('table#register input[name=staffName1]').val(),
			'staffMail1': $('table#register input[name=staffMail1]').val(),
			'userId2': $('table#register input[name=userId2]').val(),
			'companyName2': $('table#register input[name=companyName2]').val(),
			'corporation2': $('table#register input[name=corporation2]').val(),
			'staffName2': $('table#register input[name=staffName2]').val(),
			'staffMail2': $('table#register input[name=staffMail2]').val(),
			'userId3': $('table#register input[name=userId3]').val(),
			'companyName3': $('table#register input[name=companyName3]').val(),
			'corporation3': $('table#register input[name=corporation3]').val(),
			'staffName3': $('table#register input[name=staffName3]').val(),
			'staffMail3': $('table#register input[name=staffMail3]').val(),
			'userId4': $('table#register input[name=userId4]').val(),
			'companyName4': $('table#register input[name=companyName4]').val(),
			'corporation4': $('table#register input[name=corporation4]').val(),
			'staffName4': $('table#register input[name=staffName4]').val(),
			'staffMail4': $('table#register input[name=staffMail4]').val(),
			'userId5': $('table#register input[name=userId5]').val(),
			'companyName5': $('table#register input[name=companyName5]').val(),
			'corporation5': $('table#register input[name=corporation5]').val(),
			'staffName5': $('table#register input[name=staffName5]').val(),
			'staffMail5': $('table#register input[name=staffMail5]').val(),
			'userId6': $('table#register input[name=userId6]').val(),
			'companyName6': $('table#register input[name=companyName6]').val(),
			'corporation6': $('table#register input[name=corporation6]').val(),
			'staffName6': $('table#register input[name=staffName6]').val(),
			'staffMail6': $('table#register input[name=staffMail6]').val(),
			'userId7': $('table#register input[name=userId7]').val(),
			'companyName7': $('table#register input[name=companyName7]').val(),
			'corporation7': $('table#register input[name=corporation7]').val(),
			'staffName7': $('table#register input[name=staffName7]').val(),
			'staffMail7': $('table#register input[name=staffMail7]').val(),
			'userId8': $('table#register input[name=userId8]').val(),
			'companyName8': $('table#register input[name=companyName8]').val(),
			'corporation8': $('table#register input[name=corporation8]').val(),
			'staffName8': $('table#register input[name=staffName8]').val(),
			'staffMail8': $('table#register input[name=staffMail8]').val(),
			'userId9': $('table#register input[name=userId9]').val(),
			'companyName9': $('table#register input[name=companyName9]').val(),
			'corporation9': $('table#register input[name=corporation9]').val(),
			'staffName9': $('table#register input[name=staffName9]').val(),
			'staffMail9': $('table#register input[name=staffMail9]').val(),
			'userId10': $('table#register input[name=userId10]').val(),
			'companyName10': $('table#register input[name=companyName10]').val(),
			'corporation10': $('table#register input[name=corporation10]').val(),
			'staffName10': $('table#register input[name=staffName10]').val(),
			'staffMail10': $('table#register input[name=staffMail10]').val()
		};
		if($('table#register input[name=staffMail1]').val() == '') {
			return;
		} else {
		$.ajax({
			type: 'POST',
			url: '/mailsystem/selectStaff/register1',
			data: JSON.stringify(jsonString),
			contentType: 'application/json',
			datatype: 'json',
			scriptCharset: 'utf-8'
		})
		.then((result) => {
				$('.info').removeClass('hidden');
				$('#checkOK').addClass('hidden');
				$('table#register input[name=userId1]').val('');
				$('table#register input[name=companyName1]').val('');
				$('table#register input[name=corporation1]').val('');
				$('table#register input[name=staffName1]').val('');
				$('table#register input[name=staffMail1]').val('');
			}, () => {
				alert('すでに選択されています。');
			});
		}
		if($('table#register input[name=staffMail2]').val() == '') {
			return;
		} else {
		$.ajax({
			type: 'POST',
			url: '/mailsystem/selectStaff/register2',
			data: JSON.stringify(jsonString),
			contentType: 'application/json',
			datatype: 'json',
			scriptCharset: 'utf-8'
		})
		.then((result) => {
				$('.info').removeClass('hidden');
				$('#checkOK').addClass('hidden');
				$('table#register input[name=userId2]').val('');
				$('table#register input[name=companyName2]').val('');
				$('table#register input[name=corporation2]').val('');
				$('table#register input[name=staffName2]').val('');
				$('table#register input[name=staffMail2]').val('');
			}, () => {
				alert('すでに選択されています。');
			});
		}
		if($('table#register input[name=staffMail3]').val() == '') {
			return;
		} else {
		$.ajax({
			type: 'POST',
			url: '/mailsystem/selectStaff/register3',
			data: JSON.stringify(jsonString),
			contentType: 'application/json',
			datatype: 'json',
			scriptCharset: 'utf-8'
		})
		.then((result) => {
				$('.info').removeClass('hidden');
				$('#checkOK').addClass('hidden');
				$('table#register input[name=userId3]').val('');
				$('table#register input[name=companyName3]').val('');
				$('table#register input[name=corporation3]').val('');
				$('table#register input[name=staffName3]').val('');
				$('table#register input[name=staffMail3]').val('');
			}, () => {
				alert('すでに選択されています。');
			});
		}
		if($('table#register input[name=staffMail4]').val() == '') {
			return;
		} else {
		$.ajax({
			type: 'POST',
			url: '/mailsystem/selectStaff/register4',
			data: JSON.stringify(jsonString),
			contentType: 'application/json',
			datatype: 'json',
			scriptCharset: 'utf-8'
		})
		.then((result) => {
				$('.info').removeClass('hidden');
				$('#checkOK').addClass('hidden');
				$('table#register input[name=userId4]').val('');
				$('table#register input[name=companyName4]').val('');
				$('table#register input[name=corporation4]').val('');
				$('table#register input[name=staffName4]').val('');
				$('table#register input[name=staffMail4]').val('');
			}, () => {
				alert('すでに選択されています。');
			});
		}
		if($('table#register input[name=staffMail5]').val() == '') {
			return;
		} else {
		$.ajax({
			type: 'POST',
			url: '/mailsystem/selectStaff/register5',
			data: JSON.stringify(jsonString),
			contentType: 'application/json',
			datatype: 'json',
			scriptCharset: 'utf-8'
		})
		.then((result) => {
				$('.info').removeClass('hidden');
				$('#checkOK').addClass('hidden');
				$('table#register input[name=userId5]').val('');
				$('table#register input[name=companyName5]').val('');
				$('table#register input[name=corporation5]').val('');
				$('table#register input[name=staffName5]').val('');
				$('table#register input[name=staffMail5]').val('');
			}, () => {
				alert('すでに選択されています。');
			});
		}
		if($('table#register input[name=staffMail6]').val() == '') {
			return;
		} else {
		$.ajax({
			type: 'POST',
			url: '/mailsystem/selectStaff/register6',
			data: JSON.stringify(jsonString),
			contentType: 'application/json',
			datatype: 'json',
			scriptCharset: 'utf-8'
		})
		.then((result) => {
				$('.info').removeClass('hidden');
				$('#checkOK').addClass('hidden');
				$('table#register input[name=userId6]').val('');
				$('table#register input[name=companyName6]').val('');
				$('table#register input[name=corporation6]').val('');
				$('table#register input[name=staffName6]').val('');
				$('table#register input[name=staffMail6]').val('');
			}, () => {
				alert('すでに選択されています。');
			});
		}
		if($('table#register input[name=staffMail7]').val() == '') {
			return;
		} else {
		$.ajax({
			type: 'POST',
			url: '/mailsystem/selectStaff/register7',
			data: JSON.stringify(jsonString),
			contentType: 'application/json',
			datatype: 'json',
			scriptCharset: 'utf-8'
		})
		.then((result) => {
				$('.info').removeClass('hidden');
				$('#checkOK').addClass('hidden');
				$('table#register input[name=userId7]').val('');
				$('table#register input[name=companyName7]').val('');
				$('table#register input[name=corporation7]').val('');
				$('table#register input[name=staffName7]').val('');
				$('table#register input[name=staffMail7]').val('');
			}, () => {
				alert('すでに選択されています。');
			});
		}
		if($('table#register input[name=staffMail8]').val() == '') {
			return;
		} else {
		$.ajax({
			type: 'POST',
			url: '/mailsystem/selectStaff/register8',
			data: JSON.stringify(jsonString),
			contentType: 'application/json',
			datatype: 'json',
			scriptCharset: 'utf-8'
		})
		.then((result) => {
				$('.info').removeClass('hidden');
				$('#checkOK').addClass('hidden');
				$('table#register input[name=userId8]').val('');
				$('table#register input[name=companyName8]').val('');
				$('table#register input[name=corporation8]').val('');
				$('table#register input[name=staffName8]').val('');
				$('table#register input[name=staffMail8]').val('');
			}, () => {
				alert('すでに選択されています。');
			});
		}
		if($('table#register input[name=staffMail9]').val() == '') {
			return;
		} else {
		$.ajax({
			type: 'POST',
			url: '/mailsystem/selectStaff/register9',
			data: JSON.stringify(jsonString),
			contentType: 'application/json',
			datatype: 'json',
			scriptCharset: 'utf-8'
		})
		.then((result) => {
				$('.info').removeClass('hidden');
				$('#checkOK').addClass('hidden');
				$('table#register input[name=userId9]').val('');
				$('table#register input[name=companyName9]').val('');
				$('table#register input[name=corporation9]').val('');
				$('table#register input[name=staffName9]').val('');
				$('table#register input[name=staffMail9]').val('');
			}, () => {
				alert('すでに選択されています。');
			});
		}
		if($('table#register input[name=staffMail10]').val() == '') {
			return;
		} else {
		$.ajax({
			type: 'POST',
			url: '/mailsystem/selectStaff/register10',
			data: JSON.stringify(jsonString),
			contentType: 'application/json',
			datatype: 'json',
			scriptCharset: 'utf-8'
		})
		.then((result) => {
			$('.info').removeClass('hidden');
			$('#checkOK').addClass('hidden');
			$('table#register input[name=userId10]').val('');
			$('table#register input[name=companyName10]').val('');
			$('table#register input[name=corporation10]').val('');
			$('table#register input[name=staffName10]').val('');
			$('table#register input[name=staffMail10]').val('');
		}, () => {
			alert('すでに選択されています。');
		});
		}
	});

	//連絡先選択機能
	$('button#register1').on('click', () => {
		if($('table#register input[name=staffMail1]').val() == '') {
			return;
		} else {
			let jsonString = {
				'userId1': $('table#register input[name=userId1]').val(),
				'companyName1': $('table#register input[name=companyName1]').val(),
				'corporation1': $('table#register input[name=corporation1]').val(),
				'staffName1': $('table#register input[name=staffName1]').val(),
				'staffMail1': $('table#register input[name=staffMail1]').val()
			};
			$.ajax({
				type: 'POST',
				url: '/mailsystem/selectStaff/register1',
				data: JSON.stringify(jsonString),
				contentType: 'application/json',
				datatype: 'json',
				scriptCharset: 'utf-8'
			})
			.then((result) => {
				$('.info').removeClass('hidden');
				$('#checkOK').addClass('hidden');
				$('table#register input[name=userId1]').val('');
				$('table#register input[name=companyName1]').val('');
				$('table#register input[name=corporation1]').val('');
				$('table#register input[name=staffName1]').val('');
				$('table#register input[name=staffMail1]').val('');
			}, () => {
				alert('すでに選択されています。');
			});
		}
	});
	
	$('button#register2').on('click', () => {
		if($('table#register input[name=staffMail2]').val() == '') {
			return;
		} else {
			let jsonString = {
				'userId2': $('table#register input[name=userId2]').val(),
				'companyName2': $('table#register input[name=companyName2]').val(),
				'corporation2': $('table#register input[name=corporation2]').val(),
				'staffName2': $('table#register input[name=staffName2]').val(),
				'staffMail2': $('table#register input[name=staffMail2]').val()
			};
			$.ajax({
				type: 'POST',
				url: '/mailsystem/selectStaff/register2',
				data: JSON.stringify(jsonString),
				contentType: 'application/json',
				datatype: 'json',
				scriptCharset: 'utf-8'
			})
			.then((result) => {
				$('.info').removeClass('hidden');
				$('#checkOK').addClass('hidden');
				$('table#register input[name=userId2]').val('');
				$('table#register input[name=companyName2]').val('');
				$('table#register input[name=corporation2]').val('');
				$('table#register input[name=staffName2]').val('');
				$('table#register input[name=staffMail2]').val('');
			}, () => {
				alert('すでに選択されています。');
			});
		}
	});
	
	$('button#register3').on('click', () => {
		if($('table#register input[name=staffMail3]').val() == '') {
			return;
		} else {
			let jsonString = {
				'userId3': $('table#register input[name=userId3]').val(),
				'companyName3': $('table#register input[name=companyName3]').val(),
				'corporation3': $('table#register input[name=corporation3]').val(),
				'staffName3': $('table#register input[name=staffName3]').val(),
				'staffMail3': $('table#register input[name=staffMail3]').val()
			};
			$.ajax({
				type: 'POST',
				url: '/mailsystem/selectStaff/register3',
				data: JSON.stringify(jsonString),
				contentType: 'application/json',
				datatype: 'json',
				scriptCharset: 'utf-8'
			})
			.then((result) => {
				$('.info').removeClass('hidden');
				$('#checkOK').addClass('hidden');
				$('table#register input[name=userId3]').val('');
				$('table#register input[name=companyName3]').val('');
				$('table#register input[name=corporation3]').val('');
				$('table#register input[name=staffName3]').val('');
				$('table#register input[name=staffMail3]').val('');
			}, () => {
				alert('すでに選択されています。');
			});
		}
	});
	
	$('button#register4').on('click', () => {
		if($('table#register input[name=staffMail4]').val() == '') {
			return;
		} else {
			let jsonString = {
				'userId4': $('table#register input[name=userId4]').val(),
				'companyName4': $('table#register input[name=companyName4]').val(),
				'corporation4': $('table#register input[name=corporation4]').val(),
				'staffName4': $('table#register input[name=staffName4]').val(),
				'staffMail4': $('table#register input[name=staffMail4]').val()
			};
			$.ajax({
				type: 'POST',
				url: '/mailsystem/selectStaff/register4',
				data: JSON.stringify(jsonString),
				contentType: 'application/json',
				datatype: 'json',
				scriptCharset: 'utf-8'
			})
			.then((result) => {
				$('.info').removeClass('hidden');
				$('#checkOK').addClass('hidden');
				$('table#register input[name=userId4]').val('');
				$('table#register input[name=companyName4]').val('');
				$('table#register input[name=corporation4]').val('');
				$('table#register input[name=staffName4]').val('');
				$('table#register input[name=staffMail4]').val('');
			}, () => {
				alert('すでに選択されています。');
			});
		}
	});
	
	$('button#register5').on('click', () => {
		if($('table#register input[name=staffMail5]').val() == '') {
			return;
		} else {
			let jsonString = {
				'userId5': $('table#register input[name=userId5]').val(),
				'companyName5': $('table#register input[name=companyName5]').val(),
				'corporation5': $('table#register input[name=corporation5]').val(),
				'staffName5': $('table#register input[name=staffName5]').val(),
				'staffMail5': $('table#register input[name=staffMail5]').val()
			};
			$.ajax({
				type: 'POST',
				url: '/mailsystem/selectStaff/register5',
				data: JSON.stringify(jsonString),
				contentType: 'application/json',
				datatype: 'json',
				scriptCharset: 'utf-8'
			})
			.then((result) => {
				$('.info').removeClass('hidden');
				$('#checkOK').addClass('hidden');
				$('table#register input[name=userId5]').val('');
				$('table#register input[name=companyName5]').val('');
				$('table#register input[name=corporation5]').val('');
				$('table#register input[name=staffName5]').val('');
				$('table#register input[name=staffMail5]').val('');
			}, () => {
				alert('すでに選択されています。');
			});
		}
	});
	
	$('button#register6').on('click', () => {
		if($('table#register input[name=staffMail6]').val() == '') {
			return;
		} else {
			let jsonString = {
				'userId6': $('table#register input[name=userId6]').val(),
				'companyName6': $('table#register input[name=companyName6]').val(),
				'corporation6': $('table#register input[name=corporation6]').val(),
				'staffName6': $('table#register input[name=staffName6]').val(),
				'staffMail6': $('table#register input[name=staffMail6]').val()
			};
			$.ajax({
				type: 'POST',
				url: '/mailsystem/selectStaff/register6',
				data: JSON.stringify(jsonString),
				contentType: 'application/json',
				datatype: 'json',
				scriptCharset: 'utf-8'
			})
			.then((result) => {
				$('.info').removeClass('hidden');
				$('#checkOK').addClass('hidden');
				$('table#register input[name=userId6]').val('');
				$('table#register input[name=companyName6]').val('');
				$('table#register input[name=corporation6]').val('');
				$('table#register input[name=staffName6]').val('');
				$('table#register input[name=staffMail6]').val('');
			}, () => {
				alert('すでに選択されています。');
			});
		}
	});
	
	$('button#register7').on('click', () => {
		if($('table#register input[name=staffMail7]').val() == '') {
			return;
		} else {
			let jsonString = {
				'userId7': $('table#register input[name=userId7]').val(),
				'companyName7': $('table#register input[name=companyName7]').val(),
				'corporation7': $('table#register input[name=corporation7]').val(),
				'staffName7': $('table#register input[name=staffName7]').val(),
				'staffMail7': $('table#register input[name=staffMail7]').val()
			};
			$.ajax({
				type: 'POST',
				url: '/mailsystem/selectStaff/register7',
				data: JSON.stringify(jsonString),
				contentType: 'application/json',
				datatype: 'json',
				scriptCharset: 'utf-8'
			})
			.then((result) => {
				$('.info').removeClass('hidden');
				$('#checkOK').addClass('hidden');
				$('table#register input[name=userId7]').val('');
				$('table#register input[name=companyName7]').val('');
				$('table#register input[name=corporation7]').val('');
				$('table#register input[name=staffName7]').val('');
				$('table#register input[name=staffMail7]').val('');
			}, () => {
				alert('すでに選択されています。');
			});
		}
	});
	
	$('button#register8').on('click', () => {
		if($('table#register input[name=staffMail8]').val() == '') {
			return;
		} else {
			let jsonString = {
				'userId8': $('table#register input[name=userId8]').val(),
				'companyName8': $('table#register input[name=companyName8]').val(),
				'corporation8': $('table#register input[name=corporation8]').val(),
				'staffName8': $('table#register input[name=staffName8]').val(),
				'staffMail8': $('table#register input[name=staffMail8]').val()
			};
			$.ajax({
				type: 'POST',
				url: '/mailsystem/selectStaff/register8',
				data: JSON.stringify(jsonString),
				contentType: 'application/json',
				datatype: 'json',
				scriptCharset: 'utf-8'
			})
			.then((result) => {
				$('.info').removeClass('hidden');
				$('#checkOK').addClass('hidden');
				$('table#register input[name=userId8]').val('');
				$('table#register input[name=companyName8]').val('');
				$('table#register input[name=corporation8]').val('');
				$('table#register input[name=staffName8]').val('');
				$('table#register input[name=staffMail8]').val('');
			}, () => {
				alert('すでに選択されています。');
			});
		}
	});
	
	$('button#register9').on('click', () => {
		if($('table#register input[name=staffMail9]').val() == '') {
			return;
		} else {
			let jsonString = {
				'userId9': $('table#register input[name=userId9]').val(),
				'companyName9': $('table#register input[name=companyName9]').val(),
				'corporation9': $('table#register input[name=corporation9]').val(),
				'staffName9': $('table#register input[name=staffName9]').val(),
				'staffMail9': $('table#register input[name=staffMail9]').val()
			};
			$.ajax({
				type: 'POST',
				url: '/mailsystem/selectStaff/register9',
				data: JSON.stringify(jsonString),
				contentType: 'application/json',
				datatype: 'json',
				scriptCharset: 'utf-8'
			})
			.then((result) => {
				$('.info').removeClass('hidden');
				$('#checkOK').addClass('hidden');
				$('table#register input[name=userId9]').val('');
				$('table#register input[name=companyName9]').val('');
				$('table#register input[name=corporation9]').val('');
				$('table#register input[name=staffName9]').val('');
				$('table#register input[name=staffMail9]').val('');
			}, () => {
				alert('すでに選択されています。');
			});
		}
	});
	
	$('button#register10').on('click', () => {
		if($('table#register input[name=staffMail10]').val() == '') {
			return;
		} else {
			let jsonString = {
				'userId10': $('table#register input[name=userId10]').val(),
				'companyName10': $('table#register input[name=companyName10]').val(),
				'corporation10': $('table#register input[name=corporation10]').val(),
				'staffName10': $('table#register input[name=staffName10]').val(),
				'staffMail10': $('table#register input[name=staffMail10]').val()
			};
			$.ajax({
				type: 'POST',
				url: '/mailsystem/selectStaff/register10',
				data: JSON.stringify(jsonString),
				contentType: 'application/json',
				datatype: 'json',
				scriptCharset: 'utf-8'
			})
			.then((result) => {
				$('.info').removeClass('hidden');
				$('#checkOK').addClass('hidden');
				$('table#register input[name=userId10]').val('');
				$('table#register input[name=companyName10]').val('');
				$('table#register input[name=corporation10]').val('');
				$('table#register input[name=staffName10]').val('');
				$('table#register input[name=staffMail10]').val('');
			}, () => {
				alert('すでに選択されています。');
			});
		}
	});

</script>
</body>

</html>