<!doctype HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
	<link href="/css/select_staff.css" th:href="@{/css/select_staff.css}" rel="stylesheet" />
</head>

<body>

<header th:insert="fragments/page_header::commonHeader"></header>

<main>

	<h1><span th:text="${address.companyName}"></span></h1>
	
	<table id="register">
		<tr>
			<td><button th:class="${address.staffMail1 == '' ? 'hidden' : ''}" id="register1">追加</button></td>
			<td><span th:text="${address.staffName1}"></span></td>
			<td>
				<span th:text="${address.staffMail1}"></span>
				<input class="form" type="text" name="companyName1" th:value="${address.companyName}" />
				<input class="form" type="text" name="corporation1" th:value="${address.corporation}" />
				<input class="form" type="text" name="userId1" th:value="${loginSession.getUserId}" />
				<input class="form" type="text" name="staffName1" th:value="${address.staffName1}" />
				<input class="form" type="text" name="staffMail1" th:value="${address.staffMail1}" />
			</td>
		</tr>
		<tr>
			<td><button th:class="${address.staffMail10 == '' ? 'hidden' : ''}" id="register2">追加</button></td>
			<td><span th:text="${address.staffName2}"></span></td>
			<td>
				<span th:text="${address.staffMail2}"></span>
				<input class="form" type="text" name="companyName2" th:value="${address.companyName}" />
				<input class="form" type="text" name="corporation2" th:value="${address.corporation}" />
				<input class="form" type="text" name="userId2" th:value="${loginSession.getUserId}" />
				<input class="form" type="text" name="staffName2" th:value="${address.staffName2}" />
				<input class="form" type="text" name="staffMail2" th:value="${address.staffMail2}" />
			</td>
		</tr>
		
	</table>

</main>

<script type="text/javascript">

	$('button#register1').on('click', () => {
		let jsonString = {
			'userId1': $('table#register input[name=userId1]').val(),
			'companyName1': $('table#register input[name=companyName1]').val(),
			'corporation1': $('table#register input[name=corporation1]').val(),
			'staffName1': $('table#register input[name=staffName1]').val(),
			'staffMail1': $('table#register input[name=staffMail1]').val()
		};
		$.ajax({
			type: 'POST',
			url: '/mailsystem/selectStaff/register1',
			data: JSON.stringify(jsonString),
			contentType: 'application/json',
			datatype: 'json',
			scriptCharset: 'utf-8'
		})
		.then((result) => {
			$('.info').removeClass('hidden');
			$('#checkOK').addClass('hidden');
			$('table#register input[name=userId1]').val('');
			$('table#register input[name=companyName1]').val('');
			$('table#register input[name=corporation1]').val('');
			$('table#register input[name=staffName1]').val('');
			$('table#register input[name=staffMail1]').val('');
		}, () => {
			alert('すでに選択されています。');
		});
	});
	
	$('button#register2').on('click', () => {
		let jsonString = {
			'userId2': $('table#register input[name=userId2]').val(),
			'companyName2': $('table#register input[name=companyName2]').val(),
			'corporation2': $('table#register input[name=corporation2]').val(),
			'staffName2': $('table#register input[name=staffName2]').val(),
			'staffMail2': $('table#register input[name=staffMail2]').val()
		};
		$.ajax({
			type: 'POST',
			url: '/mailsystem/selectStaff/register2',
			data: JSON.stringify(jsonString),
			contentType: 'application/json',
			datatype: 'json',
			scriptCharset: 'utf-8'
		})
		.then((result) => {
			$('.info').removeClass('hidden');
			$('#checkOK').addClass('hidden');
			$('table#register input[name=userId2]').val('');
			$('table#register input[name=companyName2]').val('');
			$('table#register input[name=corporation2]').val('');
			$('table#register input[name=staffName2]').val('');
			$('table#register input[name=staffMail2]').val('');
		}, () => {
			alert('すでに選択されています。');
		});
	});

</script>
</body>

</html>