<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>メール作成画面</title>
	<link href="/css/select_company.css" th:href="@{/css/select_company.css}" rel="stylesheet" />
</head>

<body>

<header th:insert="fragments/page_header::commonHeader"></header>

<main>

	<div id="selectAddress" title="送信先選択">
		<div class="form"> 
			<input class="kensaku" type="text" id="search-text" placeholder="社名検索">
			<button class="delete" onclick="location.href='http://localhost:8080/mailsystem/test/'">メール作成へ戻る</button>
		</div>
		<br>
		
	<table class="target-area" th:each="address : ${address}">
		<tr>
			<td class="check">
				<input type="checkbox" name="id" id="check" class="checkList" th:value="${address.id}" >
			</td>
			<td class="inner">
				<a href="/mailsystem/select/" th:href="@{/mailsystem/select/{id}(id=${address.id})}" >
				<label th:text="${address.companyName}" /></label></a>
			</td>
		</tr>
	</table>
		
	</div>
	
	<p id="result"></p>
	
</main>

<script th:inline="javascript">
/*[CDATA[*/
$(() => {

	$(function(){
		let checkedList = $('.checkList:checked');
		let checkedIdList = [];
		for (checked of checkedList) {
			checkedIdList.push($(checked).val());
			sessionStorage.setItem('key', checkedIdList);
		}
		var d = sessionStorage.getItem('key');
		$("#result").text(d);
	})

	//送信先全選択機能
	$(function() {
	//「全選択」する
		$('#all').on('click', function() {
			$("input[name='chk[]']").prop('checked', this.checked);
		});

	//「全選択」以外のチェックボックスがクリックされたら、
	$("input[name='chk[]']").on('click', function() {
		if ($('#boxes :checked').length == $('#boxes :input').length) {
			// 全てのチェックボックスにチェックが入っていたら、「全選択」 = checked
			$('#all').prop('checked', true);
		} else {
			// 1つでもチェックが入っていたら、「全選択」 = checked
			$('#all').prop('checked', false);
		}
    });
});
	
	//連絡先検索機能
	$(function () {
		searchWord = function(){
    	let searchText = $(this).val(), // 検索ボックスに入力された値
		targetText;

    $('.target-area').each(function() {
    	targetText = $(this).text();

	// 検索対象となるリストに入力された文字列が存在するかどうかを判断
		if (targetText.indexOf(searchText) != -1) {
			$(this).removeClass('hidden');
		} else {
			$(this).addClass('hidden');
		}
	});
	};

	//searchWordの実行
		$('#search-text').on('input', searchWord);
	});
})
/*]]>*/
</script>

</th:block>

</body>
</html>