<!DOCTYPE html>
<html xmlns:th="http://www.thymelef.org">
<head>
	<meta charset="utf-8"> 
	<title>メール送信画面</title>
	<link href="/css/send_mail.css" th:href="@{/css/send_mail.css}" rel="stylesheet" />
</head>

<header th:insert="fragments/page_header::commonHeader"></header>

<body>
<main>

	<div class="left">
		<div>件名</div>
		<input type="text" class="text_subject" th:value="${mail.subject}" id="subject" readonly></input>
		<div>本文</div>
		<textarea class="text_text" th:text="${mail.text}" id="text" readonly></textarea>
		<br>
		<button onclick="signIn()">Sign in</button>
		<button onclick="sendEmail()">Send email</button>
		<button onclick="signOut()">Sign out</button>
		<button class="back" id="back" onclick="location.href='http://localhost:8080/mailsystem/mail/'">メール作成へ戻る</button>
	</div>
					
	<div class="right">
		<p class="title">送信先リスト</p>
		<table class="" id="list" th:each="select : ${select}" th:value="${select.staffMail}">
			<tr class="">
				<td>
					<span th:class="${select.corporation == 1 ? 'hidden' : ''}">株式会社</span><span th:text="${select.companyName}"></span>
						<span th:class="${select.corporation == 0 ? 'hidden' : ''}">株式会社</span>
					<span th:text="${select.staffName}"></span>
					<span th:text="${select.staffMail}"></span>
				</td>
			</tr>
		</table>
	</div>
	
</main>

<script th:inline="javascript">
/*<![CDATA[*/

	// Step 1で取得したOAuthクライアントIDをここに書く。
	const CLIENT_ID = /*[[${user.clientId}]]*/ 'clientId';

	async function onLoad() {
		try {
		// Google APIs Client Libraryの初期化。
		await gapi.load('client:auth2');
		await gapi.client.init({
			clientId: CLIENT_ID,
			scope: 'https://www.googleapis.com/auth/gmail.send'
		});
		await gapi.client.load('gmail', 'v1');
		console.log('Initialized');
		} catch (e) {
			console.error(e);
		}
	}

	async function signIn() {
		try {
			await gapi.auth2.getAuthInstance().signIn();
			console.log('Signed in');
		} catch (e) {
			console.error(e);
		}
	}

	async function signOut() {
		try {
			await gapi.auth2.getAuthInstance().signOut();
			console.log('Signed out');
		} catch (e) {
			console.error(e);
		}
	}

	async function sendEmail() {

	/*[# th:each = "select : ${select}"]*/
		try {
			// 送りたいメールアドレスに書き換えてください。
			var to = /*[[${select.staffMail}]]*/ 'address';
			var subject = /*[[${mail.subject}]]*/ 'subject';
			var body = ((/*[[${select.corporation}]]*/ 'corporation') == 0 ? '株式会社' : '') + (/*[[${select.companyName}]]*/ 'company')　
						+ ((/*[[${select.corporation}]]*/ 'corporation') == 1 ? '株式会社' : '') + '\n' 
						+ (/*[[${select.staffName}]]*/ 'staff') + '様'　+ '\n\n' 
						+ (/*[[${mail.text}]]*/ 'text')
						+ '\n\n' + (/*[[${user.signature}]]*/ 'signature');

			// サインイン済みかチェック。
			if (!gapi.auth2.getAuthInstance().isSignedIn.get()) {
			console.error('Sign in first');
			return;
        	}

			// メールデータの作成。
			const mimeData = [
				`To: ${to}`,
				'Subject: =?utf-8?B?' + btoa(unescape(encodeURIComponent(subject))) + '?=',
				'MIME-Version: 1.0',
				'Content-Type: text/plain; charset=UTF-8',
				'Content-Transfer-Encoding: 7bit',
				'',
				body,
			].join('\n').trim();
			const raw = btoa(unescape(encodeURIComponent(mimeData))).replace(/\+/g, '-').replace(/\//g, '_');

			// メールの送信。
			await gapi.client.gmail.users.messages.send({
				'userId': 'me',
				'resource': {raw: raw},
			});
				console.log('Sent email');
				
			} catch (e) {
				console.error(e);
			}
	/*[/]*/
	}

/*]]>*/
</script>

<!-- Google APIs Client Libraryの読み込み。読み込み後にonloadに指定した関数が呼ばれる。 -->
<script src="https://apis.google.com/js/client.js?onload=onLoad"></script>
</body></html>