<!DOCTYPE html>
<html><head>
  <meta charset="utf-8"> 
</head><body>
  <button onclick="signIn()">Sign in</button>
  <button onclick="sendEmail()">Send email</button>
  <button onclick="signOut()">Sign out</button>

  <script>
    // Step 1で取得したOAuthクライアントIDをここに書く。
    const CLIENT_ID = '45580690216-2u6fkqb55marfnh3dsvb329qi0rvi8sb.apps.googleusercontent.com';

    async function onLoad() {
      try {
        // Google APIs Client Libraryの初期化。
        await gapi.load('client:auth2');
        await gapi.client.init({
            clientId: CLIENT_ID,
            scope: 'https://www.googleapis.com/auth/gmail.send'
        });
        await gapi.client.load('gmail', 'v1');
        console.log('Initialized');
      } catch (e) {
        console.error(e);
      }
    }

    async function signIn() {
      try {
        await gapi.auth2.getAuthInstance().signIn();
        console.log('Signed in');
      } catch (e) {
        console.error(e);
      }
    }

    async function signOut() {
      try {
        await gapi.auth2.getAuthInstance().signOut();
        console.log('Signed out');
      } catch (e) {
        console.error(e);
      }
    }

    async function sendEmail() {
    
    let addresslist = ['okawa.test123@gmail.com', 'yamadatest567@gmail.com'];
    
    for(var i = 0; i < addresslist.length; i++) {
    	let address = addresslist[i];
    	let kenmei = i;
    	let text = i;
    
      try {
        // 送りたいメールアドレスに書き換えてください。
        const to = address;
        const subject = kenmei;
        const body = text;

        // サインイン済みかチェック。
        if (!gapi.auth2.getAuthInstance().isSignedIn.get()) {
          console.error('Sign in first');
          return;
        }

        // メールデータの作成。
        const mimeData = [
          `To: ${to}`,
          'Subject: =?utf-8?B?' + btoa(unescape(encodeURIComponent(subject))) + '?=',
          'MIME-Version: 1.0',
          'Content-Type: text/plain; charset=UTF-8',
          'Content-Transfer-Encoding: 7bit',
          '',
          body,
        ].join('\n').trim();
        const raw = btoa(unescape(encodeURIComponent(mimeData))).replace(/\+/g, '-').replace(/\//g, '_');

        // メールの送信。
        await gapi.client.gmail.users.messages.send({
          'userId': 'me',
          'resource': {raw: raw},
        });
        console.log('Sent email');

      } catch (e) {
        console.error(e);
      }
      }
    }
  </script>

  <!-- Google APIs Client Libraryの読み込み。読み込み後にonloadに指定した関数が呼ばれる。 -->
  <script src="https://apis.google.com/js/client.js?onload=onLoad"></script>
</body></html>