<!doctype HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>メール作成画面</title>
	<link href="/css/create_mail.css" th:href="@{/css/create_mail.css}" rel="stylesheet" />
</head>

<body>

<main>

<button class="select_page" id="select_address" onclick="location.href='http://localhost:8080/mailsystem/select/'">連絡先選択へ</button>
	
	<table class="" id="list" th:each="select : ${select}" th:value="${select.staffMail}">
						<tr class="">
							<td>
								<span th:class="${select.corporation == 1 ? 'hidden' : ''}">株式会社</span><span th:text="${select.companyName}"></span>
									<span th:class="${select.corporation == 0 ? 'hidden' : ''}">株式会社</span>
								<span th:text="${select.staffName}"></span>
								<span th:text="${select.staffMail}"></span>
							</td>
						</tr>
					</table>
	<button class="send_confirm" id="send_confirm">送信確認</button>
	
</main>

<script type="text/javascript">

	
		var list_length = select.length;
		document.write("list_length");
	

</script>
</body>

</html>